Repository Lost-Paradise-Project/Lost-Paradise, pull requests merged in 2024-12, with the labels that each got.

#344 Фикс хвостов
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Mobs/Player/moth.yml
  Resources/Prototypes/Entities/Mobs/Player/ratvar.yml
  Resources/Prototypes/Entities/Mobs/Player/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
  Resources/Prototypes/Entities/Mobs/Player/vox.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/Shark/Entities/Mobs/Species/Shark.yml
Labels: Изменения: C#, Изменения: YML, Статус: Требуется одобрение

#341 IceBoxUpdate
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_LostParadise/LPPIceBox.yml
  Resources/Maps/_LostParadise/Shuttles/LPPPlaneEvac.yml
  Resources/Prototypes/_LostParadise/Maps/icebox.yml
Labels: Изменения: C#, Изменения: Карта, Изменения: YML, Статус: Требуется одобрение

#349 Фикс Крим.Консолей.
  Resources/Migrations/LostParadiseMigrations.yml
Labels: Изменения: YML, Статус: Требуется одобрение

#350 Ice box prt.2
  Resources/Maps/_LostParadise/LPPIceBox.yml
  Resources/Migrations/LostParadiseMigrations.yml
  Resources/Prototypes/_LostParadise/Maps/Pools/LostParadiseMapPool.yml
  Resources/Prototypes/_LostParadise/Maps/icebox.yml
Labels: Изменения: Карта, Изменения: YML, Статус: Требуется одобрение

#351 Evgencheg patch 8
  .github/workflows/publish-lostparadise.yml
  Tools/publish_multi_request.py
Labels: Изменения: YML, Изменения: Github, Статус: Требуется одобрение

#352 Update secret_weights.yml
  Resources/Prototypes/secret_weights.yml
Labels: Изменения: YML, Статус: Требуется одобрение

#353 fixo fixo
  .github/workflows/publish-lostparadise.yml
Labels: Изменения: YML, Изменения: Github

#354 Update publish-lostparadise.yml
  .github/workflows/publish-lostparadise.yml
Labels: Изменения: YML, Изменения: Github, Статус: Требуется одобрение

#345 [Feature] Added More Slime People Markings
  Resources/Prototypes/Entities/Mobs/Customization/Markings/pointy_ears.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Customization/slime_cat_parts.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Customization/slime_fox_parts.yml
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/meta.json
  Resources/Textures/_LostParadise/Mobs/Customization/slime_cat_parts.rsi/ears_slime_cat_inner.png
  Resources/Textures/_LostParadise/Mobs/Customization/slime_cat_parts.rsi/ears_slime_cat_outer.png
  Resources/Textures/_LostParadise/Mobs/Customization/slime_cat_parts.rsi/ears_slime_curled_inner.png
  Resources/Textures/_LostParadise/Mobs/Customization/slime_cat_parts.rsi/ears_slime_curled_outer.png
  Resources/Textures/_LostParadise/Mobs/Customization/slime_cat_parts.rsi/ears_slime_stubby_inner.png
  Resources/Textures/_LostParadise/Mobs/Customization/slime_cat_parts.rsi/ears_slime_stubby_outer.png
  Resources/Textures/_LostParadise/Mobs/Customization/slime_cat_parts.rsi/ears_slime_torn_inner.png
  Resources/Textures/_LostParadise/Mobs/Customization/slime_cat_parts.rsi/ears_slime_torn_outer.png
  Resources/Textures/_LostParadise/Mobs/Customization/slime_cat_parts.rsi/meta.json
  Resources/Textures/_LostParadise/Mobs/Customization/slime_cat_parts.rsi/slime_tail_cat.png
  Resources/Textures/_LostParadise/Mobs/Customization/slime_cat_parts.rsi/slime_tail_cat_wag.png
  Resources/Textures/_LostParadise/Mobs/Customization/slime_cat_parts.rsi/slime_tail_cat_wag_stripes_prime.png
  Resources/Textures/_LostParadise/Mobs/Customization/slime_cat_parts.rsi/slime_tail_cat_wag_stripes_second.png
  Resources/Textures/_LostParadise/Mobs/Customization/slime_fox_parts.rsi/ears_slime_fox_inner.png
  Resources/Textures/_LostParadise/Mobs/Customization/slime_fox_parts.rsi/ears_slime_fox_outer.png
  Resources/Textures/_LostParadise/Mobs/Customization/slime_fox_parts.rsi/meta.json
Labels: Изменения: Спрайт, Изменения: YML, Статус: Требуется одобрение

#358 пипяу
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
Labels: Изменения: YML, Статус: Требуется одобрение

#362 Ozvuchka blyatb
  Resources/Audio/Announcers/_AFONYA/alerts/blue.ogg
  Resources/Audio/Announcers/_AFONYA/alerts/delta.ogg
  Resources/Audio/Announcers/_AFONYA/alerts/epsilon.ogg
  Resources/Audio/Announcers/_AFONYA/alerts/gamma.ogg
  Resources/Audio/Announcers/_AFONYA/alerts/green.ogg
  Resources/Audio/Announcers/_AFONYA/alerts/red.ogg
  Resources/Audio/Announcers/_AFONYA/alerts/violet.ogg
  Resources/Audio/Announcers/_AFONYA/alerts/white.ogg
  Resources/Audio/Announcers/_AFONYA/alerts/yellow.ogg
  Resources/Audio/Announcers/_AFONYA/comms/announce.ogg
  Resources/Audio/Announcers/_AFONYA/comms/attention.ogg
  Resources/Audio/Announcers/_AFONYA/comms/command_report.ogg
  Resources/Audio/Announcers/_AFONYA/comms/war.ogg
  Resources/Audio/Announcers/_AFONYA/events/anomaly.ogg
  Resources/Audio/Announcers/_AFONYA/events/bluespace_artifact.ogg
  Resources/Audio/Announcers/_AFONYA/events/breaker_flip.ogg
  Resources/Audio/Announcers/_AFONYA/events/bureaucratic_error.ogg
  Resources/Audio/Announcers/_AFONYA/events/cargo-gifts-event-announcement.ogg
  Resources/Audio/Announcers/_AFONYA/events/clerical_error.ogg
  Resources/Audio/Announcers/_AFONYA/events/gas_leak-complete.ogg
  Resources/Audio/Announcers/_AFONYA/events/gas_leak.ogg
  Resources/Audio/Announcers/_AFONYA/events/immovable_rod_spawn.ogg
  Resources/Audio/Announcers/_AFONYA/events/ion_storm.ogg
  Resources/Audio/Announcers/_AFONYA/events/kudzu_growth.ogg
  Resources/Audio/Announcers/_AFONYA/events/meteors-complete.ogg
  Resources/Audio/Announcers/_AFONYA/events/meteors.ogg
  Resources/Audio/Announcers/_AFONYA/events/migration.ogg
  Resources/Audio/Announcers/_AFONYA/events/power_grid_check-complete.ogg
  Resources/Audio/Announcers/_AFONYA/events/power_grid_check.ogg
  Resources/Audio/Announcers/_AFONYA/events/solar_flare-complete.ogg
  Resources/Audio/Announcers/_AFONYA/events/solar_flare.ogg
  Resources/Audio/Announcers/_AFONYA/events/vent_clog.ogg
  Resources/Audio/Announcers/_AFONYA/fallback.ogg
  Resources/Audio/Announcers/_AFONYA/shuttle/called.ogg
  Resources/Locale/en-US/_LostParadise/update20.ftl
  Resources/Locale/ru-RU/_LostParadise/update20.ftl
  Resources/Prototypes/Announcers/!randomAnnouncers.yml
  Resources/Prototypes/_LostParadise/Announcers/AFONYA.yml
Labels: Изменения: Звуки, Изменения: Локализация, Изменения: YML, Статус: Требуется одобрение

#361 [Fix] Животные ушки у слаймом доступы от третьего тира спонсорки.
  Resources/Locale/en-US/_LostParadise/SponsorMarkingsTier.ftl
  Resources/Locale/ru-RU/_LostParadise/SponsorMarkingsTier.ftl
Labels: Изменения: Локализация, Изменения: YML, Статус: Требуется одобрение

#367 Фикс шаттлов утилизаторов
  Resources/Maps/_LostParadise/Shuttles/BOX_Miner.yml
  Resources/Maps/_LostParadise/Shuttles/Salvage_113.yml
Labels: Изменения: Карта, Изменения: YML, Статус: Требуется одобрение
