Repository Lost-Paradise-Project/Lost-Paradise, pull requests merged in 2024-09, with the labels that each got.

#54 Дополнения и фиксы
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Preferences/ClientPreferencesManager.cs
  Content.Client/Preferences/UI/CharacterSetupGui.xaml.cs
  Content.Server.Database/Migrations/Postgres/20221128142328_Sponsors.Designer.cs
  Content.Server.Database/Migrations/Postgres/20221128142328_Sponsors.cs
  Content.Server.Database/Migrations/Postgres/20221202112609_Sponsor-AllowJob.Designer.cs
  Content.Server.Database/Migrations/Postgres/20221202112609_Sponsor-AllowJob.cs
  Content.Server.Database/Migrations/Sqlite/20221128142316_Sponsors.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20221128142316_Sponsors.cs
  Content.Server.Database/Migrations/Sqlite/20221202112556_Sponsor-AllowJob.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20221202112556_Sponsor-AllowJob.cs
  Content.Server.Database/Model.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Inventory/SlotFlags.cs
  Content.Shared/_LostParadise/CCVars.cs
  Resources/Prototypes/_LostParadise/Entities/Clothing/LPP/Underwear/underwear.yml
Labels: Изменения: C#, Изменения: Интерфейс, Изменения: YML

#56 Фикс субмодуля
  Content.Benchmarks/Content.Benchmarks.csproj
  Content.Client/.filenesting.json
  Content.Client/Content.Client.csproj
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Preferences/ClientPreferencesManager.cs
  Content.Client/Preferences/UI/CharacterSetupGui.xaml.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.IntegrationTests/Content.IntegrationTests.csproj
  Content.IntegrationTests/Tests/Preferences/ServerDbSqliteTests.cs
  Content.MapRenderer/Content.MapRenderer.csproj
  Content.Packaging/Content.Packaging.csproj
  Content.Server.Database/Content.Server.Database.csproj
  Content.Server.Database/Migrations/Postgres/20221128142328_Sponsors.Designer.cs
  Content.Server.Database/Migrations/Postgres/20221128142328_Sponsors.cs
  Content.Server.Database/Migrations/Postgres/20221202112609_Sponsor-AllowJob.Designer.cs
  Content.Server.Database/Migrations/Postgres/20221202112609_Sponsor-AllowJob.cs
  Content.Server.Database/Migrations/Postgres/20240422101522_Donate.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240422101522_Donate.cs
  Content.Server.Database/Migrations/Sqlite/20221128142316_Sponsors.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20221128142316_Sponsors.cs
  Content.Server.Database/Migrations/Sqlite/20221202112556_Sponsor-AllowJob.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20221202112556_Sponsor-AllowJob.cs
  Content.Server.Database/Migrations/Sqlite/20240422101522_Donate.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240422101522_Donate.cs
  Content.Server.Database/Model.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Content.Server.csproj
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Shared.Database/Content.Shared.Database.csproj
  Content.Shared/Content.Shared.csproj
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/Markings/MarkingsSet.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Preferences/ICharacterProfile.cs
  Content.Tests/Content.Tests.csproj
Labels: Изменения: C#, Изменения: Интерфейс

#58 Update README.md
  README.md
Labels: Изменения: Документация

#59 фикс редактора персонажа
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Client/Preferences/UI/CharacterSetupGui.xaml.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Species/human.yml
Labels: Изменения: C#, Изменения: Интерфейс, Изменения: YML

#60 Фиксы и мелкие правки
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_LostParadise/Roles/Jobs/departments.yml
  Resources/Prototypes/_LostParadise/lobbyscreenslpp.yml
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/Prosecutor.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood1.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood2.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood3.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood4.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood5.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood6.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood7.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood8.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood9.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood_happiness_bad.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood_happiness_good.png
  Resources/Textures/Interface/Alerts/offer_item.rsi/meta.json
  Resources/Textures/Interface/Misc/job_icons.rsi/MedicalIntern.png
  Resources/Textures/Interface/Misc/job_icons.rsi/SecurityCadet.png
  Resources/Textures/Interface/Misc/security_icons.rsi/hud_discharged.png
  Resources/Textures/Interface/Misc/security_icons.rsi/hud_paroled.png
  Resources/Textures/Interface/Misc/security_icons.rsi/hud_suspected.png
  Resources/Textures/Interface/Misc/security_icons.rsi/hud_wanted.png
  Resources/Textures/_LostParadise/Interface/Misc/lpp_job_icons.rsi/Adjutant.png
  Resources/Textures/_LostParadise/Interface/Misc/lpp_job_icons.rsi/Blueshield.png
  Resources/Textures/_LostParadise/Interface/Misc/lpp_job_icons.rsi/Nanotrasen.png
  Resources/Textures/_LostParadise/LobbyScreens/attributions.yml
  Resources/Textures/_LostParadise/LobbyScreens/penisher.png
Labels: Изменения: Спрайт, Изменения: YML

#62 Доработочка маркингов и редактора
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Resources/Locale/ru-RU/_LostParadise/SponsorMarkingsTier.ftl
Labels: Изменения: C#, Изменения: Локализация, Изменения: Интерфейс

#69 Руководство по Тэн-кодам
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/security.yml
  Resources/ServerInfo/Guidebook/Security/TenCodes.xml
Labels: Изменения: Документация, Изменения: Локализация, Изменения: YML, Приоритет: 5-Потом, Размер: 5-Микро

#70 Заказной фикс
  Resources/Textures/Clothing/Uniforms/Jumpsuit/prisoner.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/prisoner.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/prisoner.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/prisoner.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/prisoner.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/prisoner.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/prisoner.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Uniforms/ERP/stripper.rsi/stripper_black.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/ERP/stripper.rsi/stripper_cyan.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/ERP/stripper.rsi/stripper_green.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/ERP/stripper.rsi/stripper_latex.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/ERP/stripper.rsi/stripper_orange.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/ERP/stripper.rsi/stripper_purple.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/ERP/stripper.rsi/stripper_red.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/ERP/stripper.rsi/stripper_tealblack.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/ERP/stripper.rsi/stripper_white.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/ERP/stripper.rsi/stripper_yellow.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Basic/Magic/kiirava_magicwand.rsi/icon.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Basic/Magic/kiirava_magicwand.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Basic/Magic/kiirava_magicwand.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Projectiles/magic.rsi/ice_ball.png
Labels: Изменения: Спрайт

#71 Фиксы ч.3
  Resources/Prototypes/_LostParadise/Entities/Clothing/Mask/mask.yml
  Resources/Textures/_LostParadise/Clothing/Uniforms/NPZ/upgcloth.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/NPZ/upgcloth.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Summer/Bikinis/stripper.rsi/base.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Summer/Bikinis/stripper.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Summer/Bikinis/stripper.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Summer/Bikinis/stripper.rsi/visor.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Summer/Swimming-trunks/swimming_trunks.rsi/base.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Summer/Swimming-trunks/swimming_trunks.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Summer/Swimming-trunks/swimming_trunks.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Summer/Swimming-trunks/swimming_trunks.rsi/visor.png
Labels: Изменения: Спрайт, Изменения: YML

#72 Фикс меты и изменения каталога
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/virodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Textures/Structures/cryostorage.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Head/Hats/alex.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Head/Hats/jake.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Head/Hats/rasmus.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Head/Hats/richter.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Head/Hats/tony.rsi/meta.json
  Resources/Textures/_LostParadise/Decals/bricktile-s.rsi/meta.json
  Resources/Textures/_LostParadise/Decals/departament-sign.rsi/meta.json
  Resources/Textures/_LostParadise/Decals/ind-letters-mini.rsi/meta.json
  Resources/Textures/_LostParadise/Decals/ind-letters.rsi/meta.json
  Resources/Textures/_LostParadise/Decals/ind-numbers-mini.rsi/meta.json
  Resources/Textures/_LostParadise/Decals/ind-numbers.rsi/meta.json
  Resources/Textures/_LostParadise/Decals/lpsignwtext.rsi/meta.json
  Resources/Textures/_LostParadise/Decals/markup.rsi/meta.json
  Resources/Textures/_LostParadise/Decals/minitile-s.rsi/meta.json
  Resources/Textures/_LostParadise/Decals/secsign.rsi/meta.json
  Resources/Textures/_LostParadise/Decals/starcircle.rsi/meta.json
  Resources/Textures/_LostParadise/Decals/wheelchair.rsi/meta.json
  Resources/Textures/_LostParadise/Interface/Misc/status_ai.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Fun/daki.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Misc/specialdelivery.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Weapons/Melee/telebaton.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Weapons/Melee/telebatonSpac.rsi/meta.json
  Resources/Textures/_LostParadise/Structures/Machines/book_printer.rsi/cartridge.png
  Resources/Textures/_LostParadise/Structures/Machines/book_printer.rsi/full.png
  Resources/Textures/_LostParadise/Structures/Machines/book_printer.rsi/high.png
  Resources/Textures/_LostParadise/Structures/Machines/book_printer.rsi/icon.png
  Resources/Textures/_LostParadise/Structures/Machines/book_printer.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Structures/Machines/book_printer.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Structures/Machines/book_printer.rsi/low.png
  Resources/Textures/_LostParadise/Structures/Machines/book_printer.rsi/medium.png
  Resources/Textures/_LostParadise/Structures/Machines/book_printer.rsi/meta.json
  Resources/Textures/_LostParadise/Structures/Machines/book_printer.rsi/none.png
  Resources/Textures/_LostParadise/Structures/Machines/book_printer.rsi/slotted.png
  Resources/Textures/_LostParadise/Structures/Machines/book_printer.rsi/working.png
Labels: Изменения: Спрайт, Изменения: YML

#73 Подымаем химию на новую планку
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_chemistry.png
Labels: Изменения: Спрайт

#74 Фикс времени ролей
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Cargo/mail_carrier.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
Labels: Изменения: YML

#77 Фикс бд (наверно)
  Content.Server.Database/Model.cs
Labels: Изменения: C#

#75 [ADD, TWEAK] Изменение звуков и прочее
  Resources/Audio/Ambience/Antag/emagged_borg.ogg
  Resources/Audio/Ambience/Antag/nukeops_start.ogg
  Resources/Audio/Ambience/Antag/traitor_start.ogg
  Resources/Audio/Jukebox/PivoDance.ogg
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
Labels: Изменения: Звуки, Изменения: YML, Приоритет: 5-Потом, Размер: 5-Микро, Тип: Изменение

#76 Commit /suicide
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/Eyes/Hud/NPZ.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/Eyes/Hud/hud.yml
  Resources/Textures/_LostParadise/Clothing/Eyes/HUD/upgHUD.rsi/equipped-EYES.png
  Resources/Textures/_LostParadise/Clothing/Eyes/HUD/upgHUD.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Eyes/HUD/upgHUD.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Clothing/Eyes/HUD/upgHUD.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Clothing/Eyes/HUD/upgHUD.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Hands/Gloves/upgofficerhands.rsi/equipped-HAND.png
  Resources/Textures/_LostParadise/Clothing/Hands/Gloves/upgofficerhands.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Neck/Cloaks/Monorich.rsi/equipped-NECK.png
  Resources/Textures/_LostParadise/Clothing/Shoes/Boots/NPZmagboots.rsi/equipped-FEET.png
  Resources/Textures/_LostParadise/Clothing/Shoes/Boots/NPZmagboots.rsi/icon-on.png
  Resources/Textures/_LostParadise/Clothing/Shoes/Boots/NPZmagboots.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Shoes/Boots/NPZmagboots.rsi/on-equipped-FEET.png
Labels: Изменения: Спрайт, Изменения: YML

#79 Последние фиксы
  Resources/Locale/ru-RU/_LostParadise/prototypes/reagents/aphrodisiac.ftl
  Resources/Maps/_LostParadise/LP_Normandy.yml
  Resources/Prototypes/Body/Parts/ipc.yml
  Resources/Prototypes/Body/Prototypes/ipc.yml
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/virodrobe.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_LostParadise/Catalog/VendingMachines/Inventories/BeachMachine.yml
  Resources/Prototypes/_LostParadise/Catalog/VendingMachines/Inventories/CargodrobeVardMachine.yml
  Resources/Prototypes/_LostParadise/Catalog/VendingMachines/Inventories/ERPMachine.yml
  Resources/Prototypes/_LostParadise/Catalog/VendingMachines/Inventories/WithMedalMahine.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Cryborgs/Borgs.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Cryborgs/EVA.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Cryborgs/base_borg.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Cryborgs/borg_modules.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/Tajaran/Entities/Mobs/Player/Tajaran.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/Tajaran/Entities/Mobs/Species/Tajaran.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Consumable/food/burger.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Consumable/food/gingerbread.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Devices/machineboard.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Fun/ERP/erp_borg.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Rifles/Pibodi.yml
  Resources/Prototypes/_LostParadise/Entities/Reagents/Fluffy.yml
  Resources/Prototypes/_LostParadise/Language/languageslpp.yml
  Resources/Prototypes/_LostParadise/Reagents/fun.yml
  Resources/Prototypes/_LostParadise/Reagents/medicine.yml
  Resources/Prototypes/_LostParadise/Reagents/narcotics.yml
  Resources/Prototypes/_LostParadise/Reagents/toxins.yml
  Resources/Prototypes/_LostParadise/Recipes/Construction/Structures/window.yml
  Resources/Prototypes/_LostParadise/Recipes/Lathes/devices.yml
  Resources/Prototypes/_LostParadise/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_LostParadise/Research/arsenal.yml
  Resources/Prototypes/_LostParadise/Research/civilianservices.yml
  Resources/Prototypes/_LostParadise/Research/experimental.yml
  Resources/Prototypes/_LostParadise/Research/industrial.yml
  Resources/Prototypes/_LostParadise/StatusEffects/misc.yml
  Resources/Prototypes/_LostParadise/Voice/speech_emotes_custom.yml
Labels: Изменения: Локализация, Изменения: Карта

#80 РКН апдейт
  Resources/Locale/ru-RU/deltav/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/structures/machines/vending_machines.ftl
  Resources/Prototypes/_LostParadise/Entities/Clothing/Belt/belts.yml
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/pride.rsi/broken.png
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/pride.rsi/normal-unshaded.png
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/pride.rsi/off.png
  Resources/Textures/Structures/Wallmounts/flags.rsi/lgbtq_flag.png
  Resources/Textures/_LostParadise/Clothing/Belt/NPZ.rsi/equipped-BELT.png
  Resources/Textures/_LostParadise/Clothing/Belt/NPZ.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Belt/NPZ.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Clothing/Belt/NPZ.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Clothing/Belt/NPZ.rsi/meta.json
Labels: Изменения: Локализация, Изменения: Спрайт, Изменения: YML

#81 Фиксы пост-обновления
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/_LostParadise/Polymorphism/AngelDustComponent.cs
  Resources/Locale/ru-RU/cluwne/cluwne.ftl
  Resources/Locale/ru-RU/glue/glue.ftl
  Resources/Locale/ru-RU/lube/lube.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/special.yml
  Resources/Prototypes/Entities/Structures/Specific/Janitor/drain.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Cryborgs/ai_mech.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/NPCs/battle-chelnok/security.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_LostParadise/Recipes/Lathes/Industrial.yml
Labels: Изменения: C#, Изменения: Локализация, Изменения: Интерфейс, Изменения: YML

#83 Правки гайдбука
  Resources/Locale/ru-RU/_LostParadise/update20.ftl
  Resources/Locale/ru-RU/deltav/guidebook/guides.ftl
  Resources/Prototypes/DeltaV/Guidebook/justice.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/ServerInfo/Guidebook/DeltaV/Justice.xml
  Resources/ServerInfo/Guidebook/Glossary.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
Labels: Изменения: Документация, Изменения: Локализация, Изменения: YML

#85 фикс всякого
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/base_machineboard.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Devices/machineboard.yml
Labels: Изменения: YML

#92 аоть
  .github/workflows/changelog.yml
  .github/workflows/close-master-pr.yml
  .github/workflows/conflict-labeler.yml
  .github/workflows/labeler-needsreview.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/rsi-diff.yml
  .github/workflows/test-secrets1.yml
  .github/workflows/test-secrets2.yml
  .github/workflows/test-secrets3.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/Shark/Entities/Mobs/Species/Shark.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/Tajaran/Entities/Mobs/Species/Tajaran.yml
Labels: Изменения: YML, Изменения: Github

#97 Востановление некоторых вещей
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/Head/hardsuit-helmet-eva.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/Mask/hardsuit-mask.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/OuterClothing/acienthardsuitsyndie.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Melee/syndie.yml
  Resources/Textures/_LostParadise/Clothing/Mask/acienthelmsyndiebattle.rsi/equipped-MASK.png
  Resources/Textures/_LostParadise/Clothing/Mask/acienthelmsyndiebattle.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Mask/acienthelmsyndiebattle.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/OuterClothing/Hardsuits/acientsyndiehardsuit.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/_LostParadise/Clothing/OuterClothing/Hardsuits/acientsyndiehardsuit.rsi/equipped-OUTERCLOTHING-shark.png
  Resources/Textures/_LostParadise/Clothing/OuterClothing/Hardsuits/acientsyndiehardsuit.rsi/equipped-OUTERCLOTHING-tajaran.png
  Resources/Textures/_LostParadise/Clothing/OuterClothing/Hardsuits/acientsyndiehardsuit.rsi/equipped-OUTERCLOTHING-vulpkanin.png
  Resources/Textures/_LostParadise/Clothing/OuterClothing/Hardsuits/acientsyndiehardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_LostParadise/Clothing/OuterClothing/Hardsuits/acientsyndiehardsuit.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/OuterClothing/Hardsuits/acientsyndiehardsuit.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Clothing/OuterClothing/Hardsuits/acientsyndiehardsuit.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Clothing/OuterClothing/Hardsuits/acientsyndiehardsuit.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Weapons/Melee/syndie_glaive.rsi/icon-lit.png
  Resources/Textures/_LostParadise/Objects/Weapons/Melee/syndie_glaive.rsi/icon-uncharged.png
  Resources/Textures/_LostParadise/Objects/Weapons/Melee/syndie_glaive.rsi/icon.png
  Resources/Textures/_LostParadise/Objects/Weapons/Melee/syndie_glaive.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Objects/Weapons/Melee/syndie_glaive.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Objects/Weapons/Melee/syndie_glaive.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Weapons/Melee/syndie_glaive.rsi/wielded-inhand-left.png
  Resources/Textures/_LostParadise/Objects/Weapons/Melee/syndie_glaive.rsi/wielded-inhand-right.png
Labels: Изменения: Спрайт, Изменения: YML

#98 Забытый фикс
  Resources/Prototypes/_LostParadise/Entities/Clothing/Mask/hardsuit-mask.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Melee/syndie.yml
Labels: Изменения: YML

#104 фикс дб
  Content.Server.Database/Migrations/Sqlite/20240906145842_Sponsors.cs
  Content.Server.Database/Migrations/Sqlite/20240906151148_Sponsors-allowjob.cs
Labels: Изменения: C#

#105 теперь ты святой если редачил базу данных
  .github/labeler.yml
Labels: Изменения: Конфиг

#106 пробуем фиксить бд миграции
  Content.Server.Database/Migrations/Postgres/20240906145851_Sponsors.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240906145851_Sponsors.cs
  Content.Server.Database/Migrations/Postgres/20240906151158_Sponsors-allowjob.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240906151158_Sponsors-allowjob.cs
  Content.Server.Database/Migrations/Postgres/20240906152028_Donate.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240906152028_Donate.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20240906145842_Sponsors.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240906145842_Sponsors.cs
  Content.Server.Database/Migrations/Sqlite/20240906151148_Sponsors-allowjob.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240906151148_Sponsors-allowjob.cs
  Content.Server.Database/Migrations/Sqlite/20240906152019_Donate.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240906152019_Donate.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
Labels: Изменения: C#

#112 фикс
  Content.Server.Database/Migrations/Postgres/20240906145851_Sponsors.cs
Labels: Изменения: C#

#114 фиксы
  Content.Server.Database/Migrations/Postgres/20240906145851_Sponsors.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240906151158_Sponsors-allowjob.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240906152028_Donate.Designer.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20240906145842_Sponsors.Designer.cs
Labels: Изменения: C#

#101 Grass update
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Corvax/Tiles/attributions.yml
  Resources/Textures/Corvax/Tiles/mowed_grass.png
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/grassbm.rsi/icon.png
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/grassbm.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/grassbm_tabletop.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/grassbm_tabletop.rsi/tabletop.png
  Resources/Textures/Objects/Tiles/tile.rsi/astrograss.png
  Resources/Textures/Objects/Tiles/tile.rsi/grass.png
  Resources/Textures/Objects/Tiles/tile.rsi/grassjungle.png
  Resources/Textures/Tiles/Planet/Grass/attributions.yml
  Resources/Textures/Tiles/Planet/Grass/double_edge.png
  Resources/Textures/Tiles/Planet/Grass/grass.png
  Resources/Textures/Tiles/Planet/Grass/single_edge.png
  Resources/Textures/Tiles/Planet/Grass/triple_edge.png
  Resources/Textures/Tiles/Planet/dirt.rsi/dirt.png
  Resources/Textures/Tiles/Planet/dirt.rsi/meta.json
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/grass.png
  Resources/Textures/Tiles/grassdark.png
  Resources/Textures/Tiles/grassjungle.png
  Resources/Textures/Tiles/grasslight.png
Labels: Изменения: Спрайт, Изменения: YML

#120 [Maps] Pebble mats
  Resources/Maps/_LostParadise/pebble.yml
Labels: Изменения: Карта

#119 [Maps] Normandy mats
  Resources/Maps/_LostParadise/LP_Normandy.yml
Labels: Изменения: Карта

#117 [Art] Resprite human parts
  Resources/Textures/Mobs/Species/Human/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Human/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/torso_m.png
Labels: Изменения: Спрайт

#122 фиксы
  Resources/Changelog/ChangelogLPP.yml
  Resources/Locale/ru-RU/interaction/verbs/noop.ftl
  Resources/Locale/ru-RU/nyanotrasen/ghost/roles/ghost-role-component.ftl
  Resources/ServerInfo/RulesLPP.txt
Labels: Изменения: Локализация, Изменения: YML

#126 всё ура жить спокойно.
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/xion.yml
  Resources/Prototypes/Species/reptilian.yml
Labels: Изменения: C#, Изменения: YML

#128 важные фиксики
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/_LostParadise/Entities/Structures/Wallmounts/flagpole.yml
Labels: Изменения: YML

#130 фиксы
  Resources/Locale/ru-RU/loadouts/jobs/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/clothing/uniforms/scrubs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/structures/decoration/shuttle_manipulator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/clothing/uniforms/costumes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Maps/Shuttles/DeltaV/NTES_Propeller.yml
  Resources/Maps/_LostParadise/LP_Normandy.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/_LostParadise/Maps/normandy.yml
  Resources/Textures/_LostParadise/LobbyScreens/darkmoon.png
Labels: Изменения: Локализация, Изменения: Карта

#113 Обновление каталога и ребаланс цен
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_LostParadise/Catalog/Cargo/cargo_crate.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/Back/backpack.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Storage/CrateHunter.yml
  Resources/Textures/_LostParadise/Clothing/Back/Backpacks/backhunter.rsi/equipped-BACKPACK.png
  Resources/Textures/_LostParadise/Clothing/Back/Backpacks/backhunter.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Back/Backpacks/backhunter.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Clothing/Back/Backpacks/backhunter.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Clothing/Back/Backpacks/backhunter.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Shoes/Boots/huntermagboots.rsi/equipped-FEET.png
  Resources/Textures/_LostParadise/Clothing/Shoes/Boots/huntermagboots.rsi/icon-on.png
  Resources/Textures/_LostParadise/Clothing/Shoes/Boots/huntermagboots.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Shoes/Boots/huntermagboots.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Clothing/Shoes/Boots/huntermagboots.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Clothing/Shoes/Boots/huntermagboots.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Shoes/Boots/huntermagboots.rsi/on-equipped-FEET.png
  Resources/Textures/_LostParadise/Clothing/Shoes/Boots/huntermagboots.rsi/on-inhand-left.png
  Resources/Textures/_LostParadise/Clothing/Shoes/Boots/huntermagboots.rsi/on-inhand-right.png
Labels: Изменения: Спрайт, Изменения: YML

#133 [Art] Resprite vulps
  Resources/Textures/DeltaV/Mobs/Species/Vulpkanin/parts.rsi/head_f.png
  Resources/Textures/DeltaV/Mobs/Species/Vulpkanin/parts.rsi/head_m.png
  Resources/Textures/DeltaV/Mobs/Species/Vulpkanin/parts.rsi/l_arm.png
  Resources/Textures/DeltaV/Mobs/Species/Vulpkanin/parts.rsi/l_foot.png
  Resources/Textures/DeltaV/Mobs/Species/Vulpkanin/parts.rsi/l_hand.png
  Resources/Textures/DeltaV/Mobs/Species/Vulpkanin/parts.rsi/l_leg.png
  Resources/Textures/DeltaV/Mobs/Species/Vulpkanin/parts.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Species/Vulpkanin/parts.rsi/r_arm.png
  Resources/Textures/DeltaV/Mobs/Species/Vulpkanin/parts.rsi/r_foot.png
  Resources/Textures/DeltaV/Mobs/Species/Vulpkanin/parts.rsi/r_hand.png
  Resources/Textures/DeltaV/Mobs/Species/Vulpkanin/parts.rsi/r_leg.png
  Resources/Textures/DeltaV/Mobs/Species/Vulpkanin/parts.rsi/torso_f.png
  Resources/Textures/DeltaV/Mobs/Species/Vulpkanin/parts.rsi/torso_m.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/torso_m.png
Labels: Изменения: Спрайт

#135 Фиксы кода
  Content.Client/Corvax/TTS/LobbyUIController.TTS.cs
  Content.Client/Corvax/TTS/TTSSystem.cs
  Resources/Locale/ru-RU/_LostParadise/misc/custom/personal_normandia.ftl
  Resources/Locale/ru-RU/_LostParadise/misc/species/sponsor-markings.ftl
Labels: Изменения: C#, Изменения: Локализация

#138 Плюшевая игрушка
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
Labels: Изменения: Локализация

#139 Фиксы Нормандии
  Resources/Maps/_LostParadise/LP_Normandy.yml
Labels: Изменения: Карта

#141 Lizard custom
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/snout_splotch_primary.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/snout_splotch_secondary.png
Labels: Изменения: Спрайт, Изменения: YML, Статус: Требуется одобрение

#143 апстримец
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Client/RCD/RCDMenu.xaml.cs
  Content.IntegrationTests/Tests/Slipping/SlippingTest.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Movement/Components/InputMoverComponent.cs
  Content.Shared/Movement/Events/UpdateInputCVarsMessage.cs
  Content.Shared/Movement/Systems/SharedMoverController.CVars.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/en-US/loadouts/categories.ftl
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Locale/ru-RU/_LostParadise/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/advertisements/arcade/blockgame.ftl
  Resources/Locale/ru-RU/corvax/paper/books-lore.ftl
  Resources/Locale/ru-RU/deltav/job/department.ftl
  Resources/Locale/ru-RU/deltav/paper/stamp-component.ftl
  Resources/Locale/ru-RU/deltav/warp-points/warp-points.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/loadouts/categories.ftl
  Resources/Locale/ru-RU/loadouts/itemgroups.ftl
  Resources/Locale/ru-RU/particle-accelerator/components/ui/particle-accelerator-control-menu.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/preferences/loadouts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/figurines.ftl
  Resources/Locale/ru-RU/tips.ftl
  Resources/Maps/_LostParadise/LP_Normandy.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/CharacterItemGroups/scienceGroups.yml
  Resources/Prototypes/CharacterItemGroups/serviceGroups.yml
  Resources/Prototypes/Datasets/tips.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/chiefMedicalOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/headOfPersonnel.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/quarterMaster.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/researchDirector.yml
  Resources/Prototypes/Loadouts/Jobs/science.yml
  Resources/Prototypes/Loadouts/Jobs/service.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Wires/layouts.yml
Labels: Изменения: C#, Изменения: Локализация, Изменения: Карта, Изменения: Интерфейс

#144 [Art] Vulps head
  Resources/Textures/DeltaV/Mobs/Customization/Vulpkanin/head_markings.rsi/vulpine.png
  Resources/Textures/DeltaV/Mobs/Species/Vulpkanin/parts.rsi/head_f.png
  Resources/Textures/DeltaV/Mobs/Species/Vulpkanin/parts.rsi/head_m.png
Labels: Изменения: Спрайт

#140 Фиксики 1
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/Preferences/UI/AntagPreferenceSelector.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Preferences/UI/LoadoutPreferenceSelector.cs
  Content.Client/Preferences/UI/TraitPreferenceSelector.cs
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Job.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Logic.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Profile.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Whitelist.cs
  Content.Shared/Customization/Systems/CharacterRequirements.cs
  Content.Shared/Customization/Systems/CharacterRequirementsSystem.cs
Labels: Изменения: C#, Изменения: Интерфейс, Статус: Требуется рефакторинг, Статус: Нужно что-то ещё

#145 важное
  Content.Client/ShortConstruction/UI/ShortConstructionMenuBUI.cs
  Content.Server/Chemistry/ReagentEffects/ChemAddMoodlet.cs
  Content.Server/Mood/MoodSystem.cs
  Content.Server/Power/Components/ActiveChargerComponent.cs
  Content.Server/Power/Components/ChargingComponent.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Server/Power/EntitySystems/ChargerSystem.cs
  Content.Server/Traits/Assorted/ModifyMoodTraitComponent.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Chemistry/EntitySystems/RehydratableSystem.cs
  Content.Shared/Mood/MoodEffectPrototype.cs
  Content.Shared/Traits/Prototypes/TraitPrototype.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/mood/mood.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/mood/mood.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Mood/drugs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/psionic.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/Shark/Entities/Mobs/Species/Shark.yml
Labels: Изменения: C#, Изменения: Локализация, Изменения: YML

#146 Руководство Корпоративный Закон.
  Resources/Locale/ru-RU/_LostParadise/Guidebook/SpaceLaw.txt
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/books.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Misc/SpaceLaw.yml
  Resources/Prototypes/_LostParadise/Guidebook/SpaceLaw.yml
  Resources/ServerInfo/Guidebook/Security/Forensics.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/AdditionalRulesForSentencing.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/Additionally.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/AdministrativeBan.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/AggravatingCircumstances.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/ArrestProcedure.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/ArticlesOfTheCorporateLaw.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/AverageViolations.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/BRIB.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/CriticalViolations.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/Execution.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/ExplanationOfAverageArticles.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/ExplanationOfCriticalArticles.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/ExplanationOfLightArticles.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/ExplanationOfSeriousArticles.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/ExplanationOfSuperSevereArticles.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/Indulgences.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/LevelsOfForceApplication.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/ListOfProhibitedSubstances.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/MinorViolations.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/NecessaryDefense.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/Punishments.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/PunishmentsAgainstConfirmedEnemiesOfTheCorporation.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/Relapse.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/Rights.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/RightsPrisoners.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/RulesForIssuingWarnings.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/SentenceModifiers.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/SeriousViolations.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/SpaceLaw.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/SuperSevereViolations.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/TheRatioOfTheSeverityOfTheViolationAndThePositionsAuthorizedToCarryOutPunishments.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/TheSeverityOfTheViolationAndTheAppropriatePenalties.xml
Labels: Изменения: Документация, Изменения: Локализация, Изменения: YML, Приоритет: 2-Высокий, Размер: 3-Средний

#148 Фиксики 2
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/Preferences/UI/AntagPreferenceSelector.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Preferences/UI/LoadoutPreferenceSelector.cs
  Content.Client/Preferences/UI/TraitPreferenceSelector.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Job.cs
  Resources/Locale/ru-RU/guidebook/food.ftl
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/Neck/shemags.yml
Labels: Изменения: C#, Изменения: Локализация, Изменения: Интерфейс, Изменения: YML

#147 фиксы и апстрим
  Content.Client/Flight/Components/FlightVisualsComponent.cs
  Content.Client/Flight/FlightSystem.cs
  Content.Client/Flight/FlyingVisualizerSystem.cs
  Content.Server/Flight/FlightSystem.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Flight/Events.cs
  Content.Shared/Flight/FlightComponent.cs
  Content.Shared/Flight/SharedFlightSystem.cs
  Content.Shared/Gravity/SharedFloatingVisualizerSystem.cs
  Content.Shared/Gravity/SharedGravitySystem.cs
  Resources/Audio/Effects/Flight/wingflap1.ogg
  Resources/Audio/Effects/Flight/wingflap2.ogg
  Resources/Audio/Effects/Flight/wingflap3.ogg
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/cuffs/components/handcuff-component.ftl
  Resources/Locale/en-US/flight/flight_system.ftl
  Resources/Locale/ru-RU/cuffs/components/handcuff-component.ftl
  Resources/Locale/ru-RU/execution/execution.ftl
  Resources/Locale/ru-RU/flight/flight_system.ftl
  Resources/Locale/ru-RU/preferences/ui/markings-picker.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/clothing/uniforms/costumes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/structures/machines/mailTeleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/simplestation14/benches.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/Entities/Markers/environmental.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Prototypes/SoundCollections/flight.yml
  Resources/ServerInfo/Nyanotrasen/Guidebook/Epistemics/Psionics.xml
  Resources/Textures/Interface/Actions/flight.rsi/flight_off.png
  Resources/Textures/Interface/Actions/flight.rsi/flight_on.png
  Resources/Textures/Interface/Actions/flight.rsi/meta.json
  Resources/Textures/Markers/environment.rsi/base-blue.png
  Resources/Textures/Markers/environment.rsi/base-green.png
  Resources/Textures/Markers/environment.rsi/base-red.png
  Resources/Textures/Markers/environment.rsi/fire.png
  Resources/Textures/Markers/environment.rsi/meta.json
  Resources/Textures/Markers/environment.rsi/rad.png
  Resources/Textures/Markers/environment.rsi/wall.png
  Resources/Textures/Markers/environment.rsi/weather.png
  Resources/Textures/Shaders/flap.swsl
Labels: Изменения: Звуки, Изменения: C#, Изменения: Документация, Изменения: Локализация, Изменения: Спрайт, Изменения: YML, Статус: Требуется изменения, Приоритет: 1-Максимальный, Размер: 1-Огромный

#150 Люди теперь могут иметь ушки эльфов
  Resources/Prototypes/Entities/Mobs/Customization/Markings/pointy_ears.yml
  Resources/Prototypes/Species/human.yml
Labels: Изменения: YML

#151 Warden uplink
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_LostParadise/Catalog/Hos_catalog.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Devices/TacticalShop.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Specific/Security/security.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Battery/dominator.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Melee/batons.yml
  Resources/Prototypes/_LostParadise/Store/categories.yml
  Resources/Prototypes/_LostParadise/Store/presets.yml
  Resources/Textures/_LostParadise/Objects/Devices/HOSshop.rsi/icon.png
  Resources/Textures/_LostParadise/Objects/Devices/HOSshop.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Objects/Devices/HOSshop.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Objects/Devices/HOSshop.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Specific/Security/Centcoin.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Objects/Specific/Security/Centcoin.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Objects/Specific/Security/Centcoin.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Specific/Security/Centcoin.rsi/telecrystal.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/disabler-inhand-left.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/disabler-inhand-right.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/equipped-belt.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/inhand-left-1.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/inhand-left-2.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/inhand-left-3.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/inhand-left-4.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/inhand-right-1.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/inhand-right-2.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/inhand-right-3.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/inhand-right-4.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/lethal-inhand-left.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/lethal-inhand-right.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/mag-unshaded-0.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/mode-disabler.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/mode-lethal.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/mode-stun.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/special-inhand-left.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/dominator.rsi/special-inhand-right.png
Labels: Изменения: Спрайт, Изменения: YML

#149 Небольшое улучшение системы действий
  Resources/Locale/ru-RU/_LostParadise/interaction/verbs/core.ftl
  Resources/Locale/ru-RU/_LostParadise/interaction/verbs/help.ftl
  Resources/Locale/ru-RU/_LostParadise/interaction/verbs/noop.ftl
  Resources/Locale/ru-RU/_LostParadise/interaction/verbs/self.ftl
  Resources/Locale/ru-RU/_LostParadise/mood/mood.ftl
  Resources/Locale/ru-RU/interaction/verbs/core.ftl
  Resources/Prototypes/Interactions/help_interactions.yml
  Resources/Prototypes/Interactions/mood_interactions.yml
  Resources/Prototypes/Interactions/noop_interactions.yml
  Resources/Prototypes/Interactions/self_interactions.yml
  Resources/Prototypes/_LostParadise/Interactions/Popups/interaction_popups.yml
  Resources/Prototypes/_LostParadise/Interactions/interactions.yml
  Resources/Prototypes/_LostParadise/Mood/genericNegativeEffects.yml
  Resources/Prototypes/_LostParadise/Mood/genericNeutralEffects.yml
  Resources/Prototypes/_LostParadise/Mood/genericPositiveEffects.yml
Labels: Изменения: Локализация, Изменения: YML

#153 Warden uplink balance update
  Resources/Prototypes/_LostParadise/Catalog/Hos_catalog.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Battery/dominator.yml
  Resources/Prototypes/_LostParadise/Store/categories.yml
Labels: Изменения: YML

#152 Маленькие фиксы от Василисы
  Resources/Locale/ru-RU/_LostParadise/update20.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Tools/CombatUtility.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Bombs/C4Low.yml
  Resources/Prototypes/_LostParadise/Recipes/Lathes/hardsuitsrecipe.yml
Labels: Изменения: Локализация, Изменения: YML, Приоритет: 3-Стандартный, Размер: 5-Микро

#158 Великий баланс перков
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Изменения: YML

#159 Микро изменение в работе СМа
  Content.Server/Supermatter/Systems/SupermatterSystem.Processing.cs
Labels: Изменения: C#, Приоритет: 3-Стандартный, Размер: 5-Микро, Тип: Баланс

#160 фикс переводов
  Content.Client/Construction/UI/ConstructionMenuPresenter.cs
  Content.Server/RandomMetadata/RandomMetadataSystem.cs
  Content.Shared/Construction/Steps/MaterialConstructionGraphStep.cs
  Resources/Locale/ru-RU/_LostParadise/Construction/Graphs.ftl
  Resources/Locale/ru-RU/_LostParadise/stack/stacks.ftl
  Resources/Locale/ru-RU/deltav/chat/managers/chat_manager.ftl
  Resources/Locale/ru-RU/lathe/recipes.ftl
  Resources/Locale/ru-RU/nyanotrasen/species/species.ftl
  Resources/Locale/ru-RU/paper/story-generation.ftl
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_LostParadise/Recipes/Construction/AtmosDeviceFanTiny.yml
  Resources/Prototypes/_LostParadise/Stacks/security_stacks.yml
Labels: Изменения: C#, Изменения: Локализация, Изменения: YML

#162 Переименование скафандров
  Resources/Locale/ru-RU/_LostParadise/prototypes/entities/clothing/Head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/_LostParadise/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_LostParadise/Catalog/Fills/Backpacks/duffelbags.yml
  Resources/Prototypes/_LostParadise/Catalog/Hos_catalog.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/Head/hardsuit-helmet-eva.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/OuterClothing/Lazerdefhard.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/OuterClothing/NPZ.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/OuterClothing/acienthardsuitsyndie.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/OuterClothing/detectivehardsuit.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/OuterClothing/miksuitjugger.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/OuterClothing/winterhuntersuit.yml
Labels: Изменения: Локализация, Изменения: YML

#164 цена+апстрим
  Content.Client/Standing/LayingDownSystem.cs
  Content.Server/Chemistry/ReagentEffects/MakeSentient.cs
  Content.Server/Language/LanguageSystem.Networking.cs
  Content.Server/Language/LanguageSystem.cs
  Content.Server/Language/TranslatorSystem.cs
  Content.Server/Traits/Assorted/ForeignerTraitSystem.cs
  Content.Server/Traits/Assorted/LanguageKnowledgeModifierComponent.cs
  Content.Server/Traits/Assorted/LanguageKnowledgeModifierSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Contests/ContestsSystem.Utilities.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
  Content.Shared/Traits/Prototypes/TraitPrototype.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/Entities/Structures/Specific/oracle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/_LostParadise/Traits/languages.yml
  Resources/Prototypes/secret_weights.yml
Labels: Изменения: C#, Изменения: YML

#166 НПС и двери
  Resources/Prototypes/Entities/Mobs/NPCs/behonker.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/mutants.yml
Labels: Изменения: YML

#169 фигня всякая
  Resources/Prototypes/Nyanotrasen/mailDeliveries.yml
Labels: Изменения: YML

#171 апстрим
  Content.Client/Standing/LayingDownSystem.cs
  Content.Server/Flight/FlightSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Standing/LayingDownComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/flight/flight_system.ftl
  Resources/Locale/ru-RU/flight/flight_system.ftl
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/home_run_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
Labels: Изменения: C#, Изменения: Локализация, Изменения: YML

#173 Revert "Revert "Physical Pulling (#883)""
  Content.Shared/Movement/Pulling/Components/PullableComponent.cs
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: Изменения: C#, Изменения: YML, Статус: Требуется одобрение

#175 LPPHammer & C4Low Removal
  Resources/Locale/ru-RU/_LostParadise/update20.ftl
  Resources/Migrations/LostParadiseMigrations.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_LostParadise/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_LostParadise/Catalog/Hos_catalog.yml
  Resources/Prototypes/_LostParadise/Catalog/cburn_defence_catalog.yml
  Resources/Prototypes/_LostParadise/Catalog/delta_catalog.yml
  Resources/Prototypes/_LostParadise/Catalog/ert_catalog.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Bombs/C4Low.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Melee/hammer.yml
  Resources/Prototypes/_LostParadise/Entities/Structures/Wallmounts/HammerCabinet.yml
  Resources/Prototypes/_LostParadise/Recipes/Lathes/security.yml
  Resources/Prototypes/_LostParadise/Roles/Jobs/Security/SecEng.yml
  Resources/Prototypes/_LostParadise/tags.yml
Labels: Изменения: Локализация, Изменения: YML

#174 Сбалансированы геймрулы, вор потерял пацифизмю
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Изменения: YML

#176 откат правок в ттс
  Content.Client/Corvax/TTS/TTSSystem.cs
Labels: Изменения: C#

#183 Какой-то фикс
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Server/Database/ServerDbBase.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: Изменения: C#, Изменения: YML

#184 поправка скорости агоста
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: Изменения: YML

#186 переводы
  Resources/Locale/ru-RU/abilities/psionic.ftl
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/atmos/atmos-alerts-console.ftl
  Resources/Locale/ru-RU/atmos/gas-recycler-system.ftl
  Resources/Locale/ru-RU/atmos/portable-scrubber.ftl
  Resources/Locale/ru-RU/botany/components/seed-extractor-component.ftl
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/construction/components/machine-part-component.ftl
  Resources/Locale/ru-RU/kitchen/components/reagent-grinder-component.ftl
  Resources/Locale/ru-RU/language/commands.ftl
  Resources/Locale/ru-RU/language/languages.ftl
  Resources/Locale/ru-RU/loadouts/itemgroups.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/materials/materials.ftl
  Resources/Locale/ru-RU/medical/components/biomass-reclaimer-component.ftl
  Resources/Locale/ru-RU/medical/components/cloning-pod-component.ftl
  Resources/Locale/ru-RU/medical/components/medical-scanner-component.ftl
  Resources/Locale/ru-RU/nutrition/components/fat-extractor.ftl
  Resources/Locale/ru-RU/psionics/psionic-powers.ftl
  Resources/Locale/ru-RU/shuttles/thruster.ftl
  Resources/Locale/ru-RU/singularity/components/emitter-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/body/organs/vulpkanin.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/catalog/fills/backpacks/startergear/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/catalog/fills/backpacks/startergear/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/catalog/fills/crates/food.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/catalog/fills/crates/npc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/mobs/player/vulpkanin.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/softsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/environmental.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/base_cartridge.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/catalog/fills/crates/epistemics.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/catalog/fills/crates/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/mobs/npcs/mutants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/objects/weapons/melee/breaching_hammer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/objects/weapons/melee/knives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/structures/machines/metempsychoticMachine.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: Изменения: Локализация

#185 Фиксы Нормандия
  Resources/Maps/_LostParadise/LP_Normandy.yml
Labels: Изменения: Карта

#188 фикс
  Resources/Changelog/ChangelogLPP.yml
Labels: Изменения: YML

#190 Revert "Revert "Улучшение системы действий""
  Resources/Locale/ru-RU/_LostParadise/interaction/verbs/core.ftl
  Resources/Locale/ru-RU/_LostParadise/interaction/verbs/help.ftl
  Resources/Locale/ru-RU/_LostParadise/interaction/verbs/noop.ftl
  Resources/Locale/ru-RU/_LostParadise/interaction/verbs/self.ftl
  Resources/Locale/ru-RU/_LostParadise/mood/mood.ftl
  Resources/Locale/ru-RU/interaction/verbs/core.ftl
  Resources/Prototypes/Interactions/help_interactions.yml
  Resources/Prototypes/Interactions/mood_interactions.yml
  Resources/Prototypes/Interactions/noop_interactions.yml
  Resources/Prototypes/Interactions/self_interactions.yml
  Resources/Prototypes/_LostParadise/Interactions/Popups/interaction_popups.yml
  Resources/Prototypes/_LostParadise/Interactions/interactions.yml
  Resources/Prototypes/_LostParadise/Mood/genericNegativeEffects.yml
  Resources/Prototypes/_LostParadise/Mood/genericNeutralEffects.yml
  Resources/Prototypes/_LostParadise/Mood/genericPositiveEffects.yml
Labels: Изменения: Локализация, Изменения: YML

#193 Кошачий кастом
  Resources/Locale/ru-RU/_LostParadise/SponsorMarkingsTier.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/felinid.yml
Labels: Изменения: Локализация, Изменения: YML

#194 правка для лобби ТТС
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Server/Database/ServerDbBase.cs
Labels: Изменения: C#

#192 Апстрим(потом)
  Content.Client/ShortConstruction/UI/ShortConstructionMenuBUI.cs
  Content.Server/Abilities/Psionics/Abilities/HealOtherPowerSystem.cs
  Content.Shared/Actions/Events/PsionicHealOtherPowerActionEvent.cs
  Content.Shared/Psionics/Events.cs
  Content.Shared/ShortConstruction/ShortConstructionComponent.cs
  Resources/Changelog/Changelog.yml
  Resources/Credits/GitHub.txt
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/windowdirectional.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: Изменения: C#, Изменения: YML

#191 Обновление 3
  Resources/Locale/ru-RU/_LostParadise/DiamondThings.ftl
  Resources/Locale/ru-RU/_LostParadise/research.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/shields/shields.ftl
  Resources/Migrations/LostParadiseMigrations.yml
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Devices/machineboard.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Tools/DiamondTools.yml
  Resources/Prototypes/_LostParadise/Entities/Structures/Machines/Forge.yml
  Resources/Prototypes/_LostParadise/Recipes/Lathes/devices.yml
  Resources/Prototypes/_LostParadise/Recipes/Lathes/diamondindustry.yml
  Resources/Prototypes/_LostParadise/Recipes/Lathes/hardsuitsrecipe.yml
  Resources/Prototypes/_LostParadise/Research/Arsenal.yml
  Resources/Prototypes/_LostParadise/Research/CivilianServices.yml
  Resources/Prototypes/_LostParadise/Research/Industrial.yml
  Resources/Prototypes/_LostParadise/Research/diamond_production.yml
  Resources/Prototypes/ore.yml
  Resources/Textures/Structures/Machines/server.rsi/meta.json
  Resources/Textures/Structures/Machines/server.rsi/serverRnD.png
  Resources/Textures/_LostParadise/Structures/Machines/SpaceForge.rsi/building.png
  Resources/Textures/_LostParadise/Structures/Machines/SpaceForge.rsi/icon.png
  Resources/Textures/_LostParadise/Structures/Machines/SpaceForge.rsi/inserting.png
  Resources/Textures/_LostParadise/Structures/Machines/SpaceForge.rsi/meta.json
  Resources/Textures/_LostParadise/Structures/Machines/SpaceForge.rsi/panel.png
  Resources/Textures/_LostParadise/Structures/Machines/SpaceForge.rsi/unlit.png
  Resources/Textures/_LostParadise/Structures/Machines/spaceForge.rsi/building.png
Labels: Изменения: Локализация, Изменения: Спрайт, Изменения: YML, Статус: Требуется одобрение, Статус: Не мержить, Приоритет: 2-Высокий, Размер: 4-Маленький, Тип: Баланс

#198 Перенос Кастомизации гостов
  Content.Client/_White/CustomGhostSpriteSystem/CustomGhostVisualizer.cs
  Content.Server/_White/CustomGhostSpriteSystem/CustomGhostSpriteSystem.cs
  Content.Shared/_White/CustomGhostSpriteSystem/CustomGhostPrototype.cs
Labels: Изменения: C#

#197 Фиксы Нормандии
  Resources/Maps/_LostParadise/LP_Normandy.yml
Labels: Изменения: Карта

#199 Фиксы багов
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Job.cs
Labels: Изменения: C#

#200 Evgencheg patch 2
  .github/workflows/test-secrets1.yml
  .github/workflows/test-secrets2.yml
  .github/workflows/test-secrets3.yml
Labels: Изменения: Github

#196 апстрим+фиксы
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/clerk.yml
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/_LostParadise/Roles/Jobs/CentCom/blueshieldoficer.yml
Labels: Изменения: YML

#201 Чиним - не чинится
  Content.Client/Corvax/TTS/TTSSystem.cs
Labels: Изменения: C#

#203 а вот..
  .github/workflows/close-master-pr.yml
Labels: Изменения: Github

#209 Фиксы Астерикс
  Resources/Maps/_LostParadise/asterisk.yml
Labels: Изменения: Карта

#211 Фикс Пеббл
  Resources/Maps/_LostParadise/pebble.yml
Labels: Изменения: Карта

#212 Fix
  Content.Server/CharacterInfo/CharacterInfoSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/DeltaV/CCVars/DCCVars.cs
  Resources/Locale/ru-RU/_LostParadise/rifles.ftl
  Resources/Locale/ru-RU/abilities/psionic.ftl
  Resources/Locale/ru-RU/deltav/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/psionics/psionic-powers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/clothing/uniforms/scrubs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/objects/weapons/melee/anti-psychic-knife.ftl
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/glimmerdevices.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/_LostParadise/Announcers/NTH.yml
  Resources/Prototypes/_LostParadise/Roles/Jobs/Command/adjutant.yml
  Resources/Textures/_LostParadise/Clothing/Underwear/Boxers/black.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/Boxers/blue.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/Boxers/boxers.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/Boxers/brown.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/Boxers/green.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/Boxers/grey.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/Boxers/lightpurple.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/Boxers/maroon.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/Boxers/orange.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/Boxers/red.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/Boxers/teal.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/Boxers/yellow.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/Command/ce.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/Command/hop.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/Command/hos.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/Command/qm.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/bee_shorts.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/boxers_commie.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/boxers_heart.rsi/equipped-UNDERWEAR.png
  Resources/Textures/_LostParadise/Clothing/Underwear/boxers_striped.rsi/equipped-UNDERWEAR.png
Labels: Изменения: C#, Изменения: Локализация, Изменения: Спрайт, Изменения: YML, Статус: Не мержить

#218 Im stupid
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: Изменения: YML

#217 Набор мелких исправлений
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
  Resources/Locale/ru-RU/_LostParadise/misc/speech/lp-speech-chatsan.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/structures/wallmounts/signs/posters.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_LostParadise/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/Tajaran/Entities/Mobs/Species/Tajaran.yml
  Resources/Prototypes/_LostParadise/Maps/normandy.yml
  Resources/Prototypes/_LostParadise/Roles/Jobs/CentCom/blueshieldoficer.yml
  Resources/Prototypes/_LostParadise/Roles/Jobs/Command/adjutant.yml
  Resources/Prototypes/_LostParadise/Voice/speech_emote_sounds.yml
  Resources/Textures/Interface/Misc/security_icons.rsi/meta.json
Labels: Изменения: C#, Изменения: Локализация, Изменения: Спрайт, Изменения: YML

#223 Build menu translate
  Resources/Locale/ru-RU/_LostParadise/Construction/Graphs.ftl
Labels: Изменения: Локализация

#224 Удаленение лишних переводов
  Resources/Locale/ru-RU/HUD/game-hud.ftl
  Resources/Locale/ru-RU/administration/antag.ftl
  Resources/Locale/ru-RU/administration/commands/aghost.ftl
  Resources/Locale/ru-RU/administration/commands/panicbunker.ftl
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/administration/ui/actions.ftl
  Resources/Locale/ru-RU/administration/ui/admin-menu-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/panicbunker-tab.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/player-tab.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/round-tab.ftl
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/borg/borg.ftl
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/cargo/cargo-bounty-console.ftl
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/character-appearance/components/magic-mirror-component.ftl
  Resources/Locale/ru-RU/chat/commands/suicide-command.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/chat/ui/chat-box.ftl
  Resources/Locale/ru-RU/chemistry/components/mixing-component.ftl
  Resources/Locale/ru-RU/chemistry/components/reagent-dispenser-component.ftl
  Resources/Locale/ru-RU/chemistry/components/solution-scanner-component.ftl
  Resources/Locale/ru-RU/chemistry/components/solution-transfer-component.ftl
  Resources/Locale/ru-RU/commands/stat-values-command.ftl
  Resources/Locale/ru-RU/commands/toolshed-commands.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/components/power-monitoring-component.ftl
  Resources/Locale/ru-RU/components/storage-component.ftl
  Resources/Locale/ru-RU/construction/conditions/no-unstackable-in-tile.ftl
  Resources/Locale/ru-RU/construction/construction-categories.ftl
  Resources/Locale/ru-RU/construction/steps/arbitrary-insert-construction-graph-step.ftl
  Resources/Locale/ru-RU/containers/containers.ftl
  Resources/Locale/ru-RU/deltav/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/escape-menu/ui/escape-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/fax/fax-admin.ftl
  Resources/Locale/ru-RU/fax/fax.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/forensics/forensics.ftl
  Resources/Locale/ru-RU/game-ticking/forcemap-command.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/conditions.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/core.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/health-examinable/health-examinable-carbon.ftl
  Resources/Locale/ru-RU/holiday/greet/holiday-greet.ftl
  Resources/Locale/ru-RU/info/ban.ftl
  Resources/Locale/ru-RU/info/rules.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
Labels: Изменения: Локализация

#225 фиксы
  Content.IntegrationTests/Tests/EntityTest.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-mantis.png
Labels: Изменения: C#, Изменения: Спрайт, Изменения: YML

#213 Vector+МикроСБ апдейт
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_LostParadise/Catalog/Hos_catalog.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Ammunition/Box/Rifle.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/LPPCartridge.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Ammunition/Projectile/LPPBullets.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/tags.yml
  Resources/Prototypes/_LostParadise/Recipes/Lathes/security.yml
Labels: Изменения: Локализация, Изменения: YML

#228 Фиксики недочетов
  Content.Client/Preferences/UI/CharacterSetupGui.xaml.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Job.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/felinid.yml
Labels: Изменения: C#, Изменения: Интерфейс, Изменения: YML

#227 Правки и хоткей
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Interaction/SmartEquipSystem.cs
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/materials/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/materials.ftl
  Resources/Migrations/LostParadiseMigrations.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/_LostParadise/Entities/Structures/Machines/DiamondCrusher.yml
  Resources/Prototypes/_LostParadise/Entities/Structures/Machines/Forge.yml
  Resources/Prototypes/_LostParadise/Research/Experimental.yml
  Resources/Prototypes/_LostParadise/Research/diamond_production.yml
  Resources/Textures/Clothing/Neck/Misc/holster.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/holster.rsi/icon.png
  Resources/Textures/Clothing/Neck/Misc/holster.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Misc/holster.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Misc/holster.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/heavygreen.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/heavyred.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/Helmets/security.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/security.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/security.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/security.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/security.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-brigmedic.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-detective.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-hos.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-interncadet.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-security.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-seniorofficer.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-warden.png
  Resources/Textures/Objects/Weapons/Grenades/foamdart.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/foamdart.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/foamdart.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/metalfoam.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Grenades/metalfoam.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/metalfoam.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/metalfoam.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/modular.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/modular.rsi/no-trigger.png
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Specific/Mining/OreDiamond.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Objects/Specific/Mining/OreDiamond.rsi/inhand-right.png
  Resources/keybinds.yml
Labels: Изменения: C#, Изменения: Локализация, Изменения: Спрайт, Изменения: Интерфейс, Изменения: YML, Приоритет: 2-Высокий, Размер: 3-Средний, Тип: Изменение
