Repository Lost-Paradise-Project/Lost-Paradise, pull requests merged in 2024-10, with the labels that each got.

#234 Фиксы Нормандии
  Resources/Maps/_LostParadise/LP_Normandy.yml
Labels: Изменения: Карта

#236 Фиксы Нормандии
  Resources/Maps/_LostParadise/LP_Normandy.yml
Labels: Изменения: Карта

#237 test
  Resources/Prototypes/_LostParadise/Action/polymorph.yml
Labels: Изменения: YML

#238 Revert "test"
  Resources/Prototypes/_LostParadise/Action/polymorph.yml
Labels: Изменения: YML

#240 Predlojka+bugfixes
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_LostParadise/Catalog/Cargo/cargo_crate.yml
  Resources/Prototypes/_LostParadise/Catalog/Hos_catalog.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Ammunition/Projectile/LPPBullets.yml
  Resources/Prototypes/_LostParadise/Loadouts/Jobs/security.yml
Labels: Изменения: YML

#244 Fixes
  Resources/Locale/en-US/_LostParadise/chat/managers/custom-chat-manager.ftl
  Resources/Locale/en-US/deltav/prototypes/access/accesses.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/security.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/deltav/catalog/fills/crates/armory.ftl
  Resources/Locale/nl-NL/gereedschap.ftl
  Resources/Locale/ru-RU/_LostParadise/chat/managers/custom-chat-manager.ftl
  Resources/Locale/ru-RU/corvax/chat/emotes.ftl
  Resources/Locale/ru-RU/deltav/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/language/languages.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/clothing/outerclothing/NPZ.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/security.ftl
  Resources/Migrations/LostParadiseMigrations.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Datasets/tips.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_tails.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Devices/TacticalShop.yml
  Resources/Prototypes/_LostParadise/Roles/Jobs/Command/adjutant.yml
  Resources/Prototypes/_LostParadise/Traits/languages.yml
  Tools/ss14_ru/yamlextractor.py
Labels: Изменения: Локализация, Изменения: YML

#247 GlovesTacticalFingerless Fix
  Resources/Prototypes/_LostParadise/Entities/Clothing/Hand/gloves.yml
Labels: Изменения: YML

#249 fixes for translation
  Resources/Locale/en-US/ss14-ru/prototypes/deltav/catalog/fills/crates/armory.ftl
  Resources/Locale/ru-RU/_LostParadise/ban.ftl
  Resources/Locale/ru-RU/chat/commands/ghost-command.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/books/lore.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/permaescape.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/paper/salvage_lore.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/clothing/back/backpacks/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/clothing/back/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/clothing/back/backpacks/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/color_dress.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/debugging/rotation_marker.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/debugging/tippy.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/shuttle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/map_text.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/conditional/suspicion.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/temp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/vehicles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/floor_trap.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
Labels: Изменения: Локализация, Изменения: YML

#250 Again fixes
  .github/workflows/update-wiki.yml
  Content.Server/Corvax/GuideGenerator/EntityEntry.cs
  Content.Server/Corvax/GuideGenerator/EntityJsonGenerator.cs
  Content.Server/Corvax/GuideGenerator/GrindRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/HealthChangeReagentsJsonGenerator.cs
  Content.Server/Corvax/GuideGenerator/HeatableRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/MealsRecipesJsonGenerator.cs
  Content.Server/Corvax/GuideGenerator/MicrowaveRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/MixingCategoryEntry.cs
  Content.Server/Corvax/GuideGenerator/ReactionJsonGenerator.cs
  Content.Server/Corvax/GuideGenerator/ReagentEffectEntry.cs
  Content.Server/Corvax/GuideGenerator/ReagentEffectsEntry.cs
  Content.Server/Corvax/GuideGenerator/SliceRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/TextTools.cs
  Content.Server/Corvax/GuideGenerator/ToolRecipeEntry.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GuideGenerator/ChemistryJsonGenerator.cs
  Content.Server/GuideGenerator/ReactionJsonGenerator.cs
  Content.Server/GuideGenerator/ReagentEntry.cs
  Content.Server/GuideGenerator/UniversalJsonConverter.cs
  Resources/Locale/en-US/_LostParadise/update20.ftl
  Resources/Locale/en-US/deltav/guidebook/justice.ftl
  Resources/Locale/ru-RU/_LostParadise/update20.ftl
  Resources/Locale/ru-RU/deltav/guidebook/justice.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/mobs/species/shark/entities/mobs/species/Shark.ftl
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/Shark/Species/Shark.yml
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/e_sword.png
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/e_sword_blade.png
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/meta.json
Labels: Изменения: C#, Изменения: Локализация, Изменения: Спрайт, Изменения: YML, Изменения: Github

#241 Дискорд авторизация и Автоспонсорка
  Content.Client/DiscordAuth/DiscordAuthGui.xaml
  Content.Client/DiscordAuth/DiscordAuthGui.xaml.cs
  Content.Client/DiscordAuth/DiscordAuthManager.cs
  Content.Client/DiscordAuth/DiscordAuthState.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Client/Preferences/ClientPreferencesManager.cs
  Content.Client/Preferences/UI/AntagPreferenceSelector.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Preferences/UI/LoadoutPreferenceSelector.cs
  Content.Client/Preferences/UI/TraitPreferenceSelector.cs
  Content.Server/DiscordAuth/DiscordAuthManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/JoinQueue/JoinQueueManager.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/_White/CustomGhostSpriteSystem/CustomGhostSpriteSystem.cs
  Content.Shared/DiscordAuth/DiscordAuthCheckMessage.cs
  Content.Shared/DiscordAuth/DiscordAuthRequiredMessage.cs
  Content.Shared/Humanoid/Markings/MarkingsSet.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/_White/CustomGhostSpriteSystem/CustomGhostPrototype.cs
Labels: Изменения: C#, Изменения: Интерфейс

#251 приколы
  Content.Client/Corvax/TTS/TTSSystem.cs
  Resources/Locale/en-US/_LostParadise/SponsorMarkingsTier.ftl
  Resources/Locale/en-US/_LostParadise/update20.ftl
  Resources/Locale/ru-RU/_LostParadise/SponsorMarkingsTier.ftl
  Resources/Locale/ru-RU/_LostParadise/update20.ftl
  Resources/Prototypes/Corvax/human_facial_hair.yml
  Resources/Prototypes/Corvax/human_hair.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_tails.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/Customization/Markings/augmentations.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/Customization/Markings/head.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/Customization/Markings/nine-tale.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/Customization/Markings/tale.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/Tajaran/Entities/Mobs/Customization/Markings/Tajaran.yml
Labels: Изменения: C#, Изменения: Локализация, Изменения: YML, Статус: Требуется одобрение

#252 фикс ClientPreferencesManager.cs
  Content.Client/Preferences/ClientPreferencesManager.cs
Labels: Изменения: C#

#264 Маленький фикс СМа под новые реалии
  Resources/Maps/_LostParadise/LPPNormandy.yml
Labels: Изменения: Карта, Статус: Требуется одобрение

#261 Постеры
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/structures/wallmounts/posters.ftl
  Resources/Locale/ru-RU/random-barks/cow.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/structures/wallmounts/posters.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_LostParadise/Entities/Structures/Wallmounts/posters.yml
  Resources/Textures/_LostParadise/Structures/Wallmounts/posters.rsi/lustfultajaran-bikini.png
  Resources/Textures/_LostParadise/Structures/Wallmounts/posters.rsi/lustfultajaran-body.png
  Resources/Textures/_LostParadise/Structures/Wallmounts/posters.rsi/lustfultajaran-bunny1.png
  Resources/Textures/_LostParadise/Structures/Wallmounts/posters.rsi/lustfultajaran-bunny2.png
  Resources/Textures/_LostParadise/Structures/Wallmounts/posters.rsi/lustfultajaran-hellowin.png
  Resources/Textures/_LostParadise/Structures/Wallmounts/posters.rsi/lustfultajaran-newyear.png
  Resources/Textures/_LostParadise/Structures/Wallmounts/posters.rsi/lustfultajaran-underwear.png
  Resources/Textures/_LostParadise/Structures/Wallmounts/posters.rsi/lustfulvulp-basin.png
  Resources/Textures/_LostParadise/Structures/Wallmounts/posters.rsi/lustfulvulp-beach.png
  Resources/Textures/_LostParadise/Structures/Wallmounts/posters.rsi/lustfulvulp-bunnyuma.png
  Resources/Textures/_LostParadise/Structures/Wallmounts/posters.rsi/lustfulvulp-press.png
  Resources/Textures/_LostParadise/Structures/Wallmounts/posters.rsi/lustfulvulp-uma.png
  Resources/Textures/_LostParadise/Structures/Wallmounts/posters.rsi/lustfulvulp-vulp.png
  Resources/Textures/_LostParadise/Structures/Wallmounts/posters.rsi/meta.json
  Tools/ss14_ru/requirements.txt
  Tools/ss14_ru/translation.bat
  Tools/ss14_ru/translation.sh
Labels: Изменения: Локализация, Изменения: Спрайт, Изменения: YML, Статус: Требуется одобрение

#265 TeaVend + Teas
  Resources/Locale/en-US/_LostParadise/flavors.ftl
  Resources/Locale/en-US/_LostParadise/mood/mood.ftl
  Resources/Locale/en-US/_LostParadise/reagents/consumable.ftl
  Resources/Locale/ru-RU/_LostParadise/flavors.ftl
  Resources/Locale/ru-RU/_LostParadise/mood/mood.ftl
  Resources/Locale/ru-RU/_LostParadise/prototypes/reagents/consumable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/structures/machines/vending_machines.ftl
  Resources/Prototypes/Chemistry/metabolism_groups.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/_LostParadise/Catalog/VendingMachines/Inventories/TeaVendMachine.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/_LostParadise/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_LostParadise/Flavors/flavors.yml
  Resources/Prototypes/_LostParadise/Mood/drugs.yml
  Resources/Prototypes/_LostParadise/Reagents/Consumable/Drink/drinks.yml
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/fill-1.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/fill-2.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/fill-3.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/fill-4.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/fill-5.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/fill-6.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/icon.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/icon_open.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/label_1.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/label_2.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/label_3.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/label_4.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/label_5.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/label_6.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/label_7.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/label_8.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/teabottle.rsi/meta.json
  Resources/Textures/_LostParadise/Structures/Machines/VendingMachines/teavend.rsi/broken.png
  Resources/Textures/_LostParadise/Structures/Machines/VendingMachines/teavend.rsi/deny-unshaded.png
  Resources/Textures/_LostParadise/Structures/Machines/VendingMachines/teavend.rsi/eject-unshaded.png
  Resources/Textures/_LostParadise/Structures/Machines/VendingMachines/teavend.rsi/meta.json
  Resources/Textures/_LostParadise/Structures/Machines/VendingMachines/teavend.rsi/normal-unshaded.png
  Resources/Textures/_LostParadise/Structures/Machines/VendingMachines/teavend.rsi/off.png
  Resources/Textures/_LostParadise/Structures/Machines/VendingMachines/teavend.rsi/panel.png
Labels: Изменения: Локализация, Изменения: Спрайт, Изменения: YML, Статус: Требуется одобрение

#270 Update ClientPreferencesManager.cs
  Content.Client/Preferences/ClientPreferencesManager.cs
Labels: Изменения: C#

#269 Новые напитки. Квас в карго. Фикс переводов.
  Resources/Locale/en-US/_LostParadise/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_LostParadise/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/_LostParadise/reagents/meta/physical-desc.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/objects/fun/erp/fleshlight.ftl
  Resources/Locale/ru-RU/_LostParadise/Construction/Graphs.ftl
  Resources/Locale/ru-RU/_LostParadise/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/_LostParadise/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/_LostParadise/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/_LostParadise/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/accent/italian.ftl
  Resources/Locale/ru-RU/actions/actions/actions-commands.ftl
  Resources/Locale/ru-RU/atmos/air-alarm-ui.ftl
  Resources/Locale/ru-RU/atmos/gas-canister-component.ftl
  Resources/Locale/ru-RU/barsign/barsign-component.ftl
  Resources/Locale/ru-RU/climbing/glass-table-component.ftl
  Resources/Locale/ru-RU/deltav/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/escape-menu/ui/escape-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/gravity/gravity-generator-component.ftl
  Resources/Locale/ru-RU/info/info-window.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/pda/Ringer/ringer-component.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/robust-toolbox/commands.ftl
  Resources/Locale/ru-RU/shell.ftl
  Resources/Locale/ru-RU/shuttles/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/fun/erp/fleshlight.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/ui/transfer-amount.ftl
  Resources/Locale/ru-RU/verbs/invoke-verb-command.ftl
  Resources/Locale/ru-RU/verbs/list-verbs-command.ftl
  Resources/Locale/ru-RU/voting/vote-commands.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Fun/ERP/fleshlight.yml
  Resources/Prototypes/_LostParadise/Flavors/flavors.yml
  Resources/Prototypes/_LostParadise/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_LostParadise/Recipes/Reactions/drinks.yml
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/miruvor.rsi/fill-1.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/miruvor.rsi/fill-2.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/miruvor.rsi/fill-3.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/miruvor.rsi/fill-4.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/miruvor.rsi/fill-5.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/miruvor.rsi/icon.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/miruvor.rsi/icon_empty.png
  Resources/Textures/_LostParadise/Objects/Consumable/Drinks/miruvor.rsi/meta.json
Labels: Изменения: Локализация, Изменения: Спрайт, Изменения: YML, Статус: Требуется одобрение

#271 MindShield атмосу и ведущим должностям
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
Labels: Изменения: YML

#260 Вроде скелеты теперь могут лежать
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
Labels: Изменения: YML, Статус: Требуется одобрение

#275 Update chemical-containers.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
Labels: Изменения: YML

#277 s
  Content.Server/Chat/Managers/ChatManager.cs
  Resources/Locale/ru-RU/_LostParadise/update20.ftl
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Изменения: C#, Изменения: Локализация, Изменения: YML, Статус: Требуется одобрение

#280 Фиксы карт
  Resources/Maps/_LostParadise/Shuttles/LPPKerberos_evac.yml
  Resources/Prototypes/_LostParadise/Maps/Pools/LostParadiseMapPool.yml
  Resources/Prototypes/_LostParadise/Maps/kerberos.yml
Labels: Изменения: Карта, Статус: Требуется одобрение

#282 Улучшение спонсорки
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/Preferences/UI/AntagPreferenceSelector.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Preferences/UI/LoadoutPreferenceSelector.cs
  Content.Client/Preferences/UI/TraitPreferenceSelector.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Job.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Logic.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Profile.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Whitelist.cs
  Content.Shared/Customization/Systems/CharacterRequirements.cs
  Content.Shared/Customization/Systems/CharacterRequirementsSystem.cs
Labels: Изменения: C#, Изменения: Интерфейс

#283 Переработка системы сновидений
  Content.Server/Psionics/Dreams/DreamSystem.cs
  Resources/Locale/en-US/_LostParadise/dreams/dreams-chat.ftl
  Resources/Locale/ru-RU/_LostParadise/dreams/dreams-chat.ftl
  Resources/Prototypes/_LostParadise/Datasets/dreamadjectives.yml
  Resources/Prototypes/_LostParadise/Datasets/dreamadverbs.yml
  Resources/Prototypes/_LostParadise/Datasets/dreamingverbs.yml
  Resources/Prototypes/_LostParadise/Datasets/dreamstrings.yml
  Resources/Prototypes/_LostParadise/Datasets/dreamverbs.yml
  Resources/Prototypes/_LostParadise/Datasets/nightmare.yml
Labels: Изменения: C#, Изменения: Локализация, Изменения: YML, Статус: Требуется одобрение

#281 Sec load(of semen)out update
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Prototypes/CharacterItemGroups/securityGroups.yml
  Resources/Prototypes/Loadouts/Jobs/security.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_LostParadise/Loadouts/Jobs/security.yml
Labels: Изменения: Локализация, Изменения: YML, Статус: Требуется одобрение

#285 Лодаутики
  Resources/Locale/en-US/_LostParadise/Jobs/jobs.ftl
  Resources/Locale/en-US/_LostParadise/Jobs/sec-pilot.ftl
  Resources/Locale/ru-RU/_LostParadise/Jobs/jobs.ftl
  Resources/Locale/ru-RU/_LostParadise/Jobs/sec-pilot.ftl
  Resources/Locale/ru-RU/deltav/job/job-names.ftl
  Resources/Locale/ru-RU/deltav/job/job-supervisors.ftl
  Resources/Locale/ru-RU/deltav/navmap-beacons/station-beacons.ftl
  Resources/Locale/ru-RU/deltav/paper/stamp-component.ftl
  Resources/Locale/ru-RU/deltav/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/nyanotrasen/job/job-names.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/markers/spawners/random/spawnMarker.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/markers/spawners/jobs.ftl
  Resources/Prototypes/CharacterItemGroups/securityGroups.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Jobs/engineering.yml
  Resources/Prototypes/Loadouts/Jobs/medical.yml
  Resources/Prototypes/Loadouts/Jobs/science.yml
  Resources/Prototypes/Loadouts/Jobs/security.yml
  Resources/Prototypes/Loadouts/backpacks.yml
  Resources/Prototypes/Loadouts/duffelbags.yml
  Resources/Prototypes/Loadouts/satchels.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/_LostParadise/Loadouts/Jobs/justice.yml
  Resources/ServerInfo/Guidebook/DeltaV/Justice.xml
  Resources/ServerInfo/Guidebook/_LostParadise/SpaceLaw/TheRatioOfTheSeverityOfTheViolationAndThePositionsAuthorizedToCarryOutPunishments.xml
Labels: Изменения: Документация, Изменения: Локализация, Изменения: YML, Статус: Требуется одобрение

#288 Отображение языка в чате и прочее
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Language/LanguagePrototype.cs
  Resources/Locale/en-US/_LostParadise/Jobs/jobs.ftl
  Resources/Locale/ru-RU/_LostParadise/Jobs/jobs.ftl
  Resources/Locale/ru-RU/chat/managers/chat-language.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/guns/launchers/blueshield_laser.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/roles/jobs/centcom/blueshieldoficer.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Language/Species-Specific/diona.yml
  Resources/Prototypes/Language/Species-Specific/harpy.yml
  Resources/Prototypes/Language/Species-Specific/moth.yml
  Resources/Prototypes/Language/Species-Specific/nekomimetic.yml
  Resources/Prototypes/Language/Species-Specific/reptilian.yml
  Resources/Prototypes/Language/Species-Specific/slimeperson.yml
  Resources/Prototypes/Language/Species-Specific/vulpkanin.yml
  Resources/Prototypes/Language/Standard/elyran.yml
  Resources/Prototypes/Language/Standard/freespeak.yml
  Resources/Prototypes/Language/Standard/solcommon.yml
  Resources/Prototypes/Language/Standard/taucetibasic.yml
  Resources/Prototypes/Language/Standard/tradeband.yml
  Resources/Prototypes/Language/animal.yml
  Resources/Prototypes/Language/genericlanguages.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/_LostParadise/Language/languageslpp.yml
  Resources/Prototypes/_LostParadise/Loadouts/Jobs/blueshield.yml
  Resources/Prototypes/_LostParadise/Loadouts/Jobs/justice.yml
Labels: Изменения: C#, Изменения: Локализация, Изменения: YML, Статус: Требуется одобрение

#287 21(Это отсылка, а не кол-во оружия) Guns update
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/guns/ammunition/box/antimateriel.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/guns/ammunition/cartridges/LPPCartridge.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/guns/ammunition/projectile/LPPBullets.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/guns/snipers/Snipers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/guns/ammunition/box/antimateriel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/guns/ammunition/cartridges/LPPCartridge.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/guns/ammunition/projectile/LPPBullets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/guns/snipers/Snipers.ftl
  Resources/Prototypes/CharacterItemGroups/securityGroups.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Ammunition/Box/antimateriel.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/LPPCartridge.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Ammunition/Projectile/LPPBullets.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Snipers/Snipers.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Snipers/pravoved.yml
  Resources/Prototypes/_LostParadise/Loadouts/Jobs/security.yml
  Resources/Prototypes/_LostParadise/Recipes/Lathes/security.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/piercing.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/rubber.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/large_casing.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/large_casing.rsi/tip.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Pistols/PMm.rsi/base.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Pistols/PMm.rsi/bolt-open.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Pistols/PMm.rsi/equipped-BELT.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Pistols/PMm.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Pistols/PMm.rsi/icon.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Pistols/PMm.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Pistols/PMm.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Pistols/PMm.rsi/mag-0.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Pistols/PMm.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Snipers/Goliath.rsi/base.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Snipers/Goliath.rsi/bolt-open.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Snipers/Goliath.rsi/equipped-BACK.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Snipers/Goliath.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Snipers/Goliath.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Snipers/Goliath.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Snipers/Goliath.rsi/meta.json
Labels: Изменения: Локализация, Изменения: Спрайт, Изменения: YML, Статус: Требуется одобрение

#291 Удалил антикварки
  Resources/Prototypes/Loadouts/Jobs/Heads/headOfSecurity.yml
  Resources/Prototypes/_LostParadise/Loadouts/Jobs/blueshield.yml
Labels: Изменения: YML, Статус: Требуется одобрение

#292 M41-A
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Rifles/M41-A.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Rifles/M41-A.rsi/wielded-inhand-left.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Rifles/M41-A.rsi/wielded-inhand-right.png
Labels: Изменения: Спрайт, Статус: Требуется одобрение

#293 Add Corvax drinks
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Corvax/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Corvax/Recipes/Reactions/drinks.yml
Labels: Изменения: YML, Статус: Требуется одобрение

#267 #TajaranLivesMatter, часть первая: Диета
  Content.Server/Body/Components/StomachComponent.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/_LostParadise/CarnivoresDiet/AccumulateReagent.cs
  Content.Server/_LostParadise/CarnivoresDiet/PoorlyDigestible.cs
  Resources/Locale/en-US/_LostParadise/Guidebook/effects.ftl
  Resources/Locale/en-US/_LostParadise/prototypes/reagents/food.ftl
  Resources/Locale/ru-RU/_LostParadise/Guidebook/effects.ftl
  Resources/Locale/ru-RU/_LostParadise/prototypes/reagents/food.ftl
  Resources/Prototypes/DeltaV/Body/Organs/vulpkanin.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Food/food.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/Tajaran/Body/Organs/Tajaran.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/Tajaran/Entities/Mobs/Species/Tajaran.yml
  Resources/Prototypes/_LostParadise/Reagents/food.yml
Labels: Изменения: C#, Изменения: Локализация, Изменения: YML, Статус: Требуется одобрение

#298 greentea fix
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
Labels: Изменения: YML

#289 Halloween things
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/objects/consumable/food/halloween.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/objects/decoration/flora/halloween.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/objects/decoration/halloween.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/objects/specific/halloween.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/structures/wallmounts/halloween.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/consumable/food/halloween.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/decoration/flora/halloween.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/decoration/halloween.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/specific/halloween.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/structures/wallmounts/halloween.ftl
  Resources/Prototypes/_LostParadise/Entities/Objects/Consumable/food/halloween.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Decoration/Flora/halloween.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Decoration/halloween.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Specific/halloween.yml
  Resources/Prototypes/_LostParadise/Entities/Structures/Wallmounts/halloween.yml
  Resources/Prototypes/_LostParadise/tags.yml
  Resources/Textures/_LostParadise/Objects/Consumable/halloween.rsi/candy_1.png
  Resources/Textures/_LostParadise/Objects/Consumable/halloween.rsi/candy_2.png
  Resources/Textures/_LostParadise/Objects/Consumable/halloween.rsi/candy_3.png
  Resources/Textures/_LostParadise/Objects/Consumable/halloween.rsi/candy_4.png
  Resources/Textures/_LostParadise/Objects/Consumable/halloween.rsi/lollipop.png
  Resources/Textures/_LostParadise/Objects/Consumable/halloween.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Decoration/Flora/flora_halloween.rsi/halloweentree01.png
  Resources/Textures/_LostParadise/Objects/Decoration/Flora/flora_halloween.rsi/halloweentree02.png
  Resources/Textures/_LostParadise/Objects/Decoration/Flora/flora_halloween.rsi/halloweentree03.png
  Resources/Textures/_LostParadise/Objects/Decoration/Flora/flora_halloween.rsi/halloweentree04.png
  Resources/Textures/_LostParadise/Objects/Decoration/Flora/flora_halloween.rsi/icon.png
  Resources/Textures/_LostParadise/Objects/Decoration/Flora/flora_halloween.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Decoration/halloween.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Decoration/halloween.rsi/spider_big.png
  Resources/Textures/_LostParadise/Objects/Decoration/halloween.rsi/spider_big2.png
  Resources/Textures/_LostParadise/Objects/Decoration/halloween.rsi/spider_mini1.png
  Resources/Textures/_LostParadise/Objects/Decoration/halloween.rsi/spider_mini2.png
  Resources/Textures/_LostParadise/Objects/Decoration/halloween.rsi/spider_mini3.png
  Resources/Textures/_LostParadise/Objects/Specific/halloween/paper_bag.rsi/empty-inhand-left.png
  Resources/Textures/_LostParadise/Objects/Specific/halloween/paper_bag.rsi/empty-inhand-right.png
  Resources/Textures/_LostParadise/Objects/Specific/halloween/paper_bag.rsi/empty_icon.png
  Resources/Textures/_LostParadise/Objects/Specific/halloween/paper_bag.rsi/full-inhand-left.png
  Resources/Textures/_LostParadise/Objects/Specific/halloween/paper_bag.rsi/full-inhand-right.png
  Resources/Textures/_LostParadise/Objects/Specific/halloween/paper_bag.rsi/full_icon.png
  Resources/Textures/_LostParadise/Objects/Specific/halloween/paper_bag.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Specific/halloween/pumpkin_bag.rsi/empty-inhand-left.png
  Resources/Textures/_LostParadise/Objects/Specific/halloween/pumpkin_bag.rsi/empty-inhand-right.png
  Resources/Textures/_LostParadise/Objects/Specific/halloween/pumpkin_bag.rsi/empty_icon.png
  Resources/Textures/_LostParadise/Objects/Specific/halloween/pumpkin_bag.rsi/full-inhand-left.png
  Resources/Textures/_LostParadise/Objects/Specific/halloween/pumpkin_bag.rsi/full-inhand-right.png
  Resources/Textures/_LostParadise/Objects/Specific/halloween/pumpkin_bag.rsi/full_icon.png
  Resources/Textures/_LostParadise/Objects/Specific/halloween/pumpkin_bag.rsi/meta.json
  Resources/Textures/_LostParadise/Structures/Wallmounts/halloween.rsi/checkboxes.png
  Resources/Textures/_LostParadise/Structures/Wallmounts/halloween.rsi/light_bulbs.png
  Resources/Textures/_LostParadise/Structures/Wallmounts/halloween.rsi/meta.json
  Resources/Textures/_LostParadise/Structures/Wallmounts/halloween.rsi/picture_family.png
  Resources/Textures/_LostParadise/Structures/Wallmounts/halloween.rsi/сounts_painting.png
Labels: Изменения: Локализация, Изменения: Спрайт, Изменения: YML, Статус: Требуется одобрение, Статус: Требуется изменения, Статус: Нужна очистка

#300 Фиксики багулин
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Command/safe.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: Изменения: C#, Изменения: YML

#301 Halloween things2
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/consumable/food/halloween.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/decoration/flora/halloween.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/decoration/halloween.ftl
  Resources/Prototypes/_LostParadise/Entities/Objects/Consumable/food/halloween.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Decoration/Flora/halloween.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Decoration/halloween.yml
  Resources/Prototypes/_LostParadise/Entities/Structures/Wallmounts/halloween.yml
  Resources/Textures/_LostParadise/Objects/Decoration/halloween.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Decoration/halloween.rsi/plant1.png
  Resources/Textures/_LostParadise/Objects/Decoration/halloween.rsi/plant2.png
  Resources/Textures/_LostParadise/Objects/Decoration/halloween.rsi/plant3.png
  Resources/Textures/_LostParadise/Objects/Decoration/halloween.rsi/plant4.png
  Resources/Textures/_LostParadise/Objects/Decoration/halloween.rsi/pumpkin_minis.png
  Resources/Textures/_LostParadise/Objects/Decoration/halloween.rsi/pumpkin_minis2.png
  Resources/Textures/_LostParadise/Objects/Decoration/halloween.rsi/pumpkins.png
Labels: Изменения: Локализация, Изменения: Спрайт, Изменения: YML, Статус: Требуется одобрение

#299 Some fixes & addons
  Resources/Audio/Jukebox/Jaya-MalinoviePalmi.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Objectives/goals.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_LostParadise/Catalog/jukebox.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/LPPMags.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Launchers/blueshield_laser.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Pistols/PF20Pistol.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_LostParadise/Recipes/Lathes/security.yml
  Resources/Textures/DeltaV/Objects/Weapons/Melee/katana.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/katana.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/katana.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/katana.rsi/meta.json
  Resources/Textures/Structures/cryostorage.rsi/sleeper_1.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/laserkomissar.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_LostParadise/Objects/Weapons/Guns/Battery/laserkomissar.rsi/meta.json
Labels: Изменения: Звуки, Изменения: Спрайт, Изменения: YML, Статус: Требуется одобрение

#302 Fix for map(maybe)
  Resources/Migrations/LostParadiseMigrations.yml
Labels: Изменения: YML, Приоритет: 1-Максимальный, Размер: 5-Микро

#303 Поправка для спонсорки
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Preferences/ClientPreferencesManager.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Clothing/Systems/LoadoutSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Clothing/Loadouts/Systems/LoadoutSystem.cs
  Content.Shared/Customization/Systems/CharacterRequirementsSystem.cs
Labels: Изменения: C#, Изменения: Интерфейс, Статус: Требуется одобрение

#304 Armbands 1
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/catalog/fills/boxes/security.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_lostparadise/entities/clothing/uniforms/armbands.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/catalog/fills/boxes/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/clothing/uniforms/armbands.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_LostParadise/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/Uniforms/armbands.yml
  Resources/Prototypes/_LostParadise/Recipes/Lathes/ClothinglatheRecipe.yml
  Resources/Prototypes/_LostParadise/tags.yml
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_blue.rsi/equipped-HELMET.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_blue.rsi/equipped-NECK.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_blue.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_blue.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_green.rsi/equipped-HELMET.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_green.rsi/equipped-NECK.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_green.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_green.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_purple.rsi/equipped-HELMET.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_purple.rsi/equipped-NECK.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_purple.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_purple.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_red.rsi/equipped-HELMET.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_red.rsi/equipped-NECK.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_red.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_red.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_white.rsi/equipped-EYES-tajaran.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_white.rsi/equipped-EYES-vulpkanin.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_white.rsi/equipped-EYES.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_white.rsi/equipped-HELMET.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_white.rsi/equipped-NECK.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_white.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_white.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_yellow.rsi/equipped-HELMET.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_yellow.rsi/equipped-NECK.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_yellow.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Armband/armband_yellow.rsi/meta.json
  Resources/Textures/_LostParadise/Objects/Storage/boxes.rsi/armband.png
  Resources/Textures/_LostParadise/Objects/Storage/boxes.rsi/box_security.png
  Resources/Textures/_LostParadise/Objects/Storage/boxes.rsi/meta.json
Labels: Изменения: Локализация, Изменения: Спрайт, Изменения: YML, Статус: Требуется одобрение

#308 H_Maps
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Prototypes/_LostParadise/Maps/Hell/H_asterisk.yml
  Resources/Prototypes/_LostParadise/Maps/Hell/H_kerberos.yml
  Resources/Prototypes/_LostParadise/Maps/Hell/H_normandy.yml
  Resources/Prototypes/_LostParadise/Maps/Hell/H_pebble.yml
  Resources/Prototypes/_LostParadise/Maps/Pools/LostParadiseMapPool.yml
Labels: Изменения: C#, Изменения: YML, Статус: Требуется одобрение, Приоритет: 1-Максимальный, Размер: 5-Микро

#309 Маленькие изменения
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
Labels: Изменения: YML, Статус: Требуется одобрение

#310 Бафф Инжей и не только
  Content.Server/Supermatter/Systems/SupermatterSystem.Processing.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/misc/papers/pen.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/supermatter/supermatter.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/engineering.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_LostParadise/CharacterItemGroups/bsGroups.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/Eyes/Hud/hud.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_LostParadise/Loadouts/Jobs/blueshield.yml
Labels: Изменения: C#, Изменения: Локализация, Изменения: YML, Статус: Требуется одобрение
