Repository Lost-Paradise-Project/Lost-Paradise, pull requests merged in 2024-11, with the labels that each got.

#307 Roadmap
  Content.Client/Info/LinkBanner.cs
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.Client/_LostParadise/Roadmap/RoadmapControl.cs
  Content.Client/_LostParadise/Roadmap/RoadmapUI.cs
  Content.Server/_LostParadise/Roadmap/RoadmapSystem.cs
  Content.Shared/_LostParadise/Roadmap/RoadmapComponent.cs
  Content.Shared/_LostParadise/Roadmap/RoadmapPrototype.cs
  Content.Shared/_LostParadise/Roadmap/RoadmapUpdateEvent.cs
  Resources/Locale/ru-RU/_LostParadise/roadmap/roadmap.ftl
  Resources/Prototypes/_LostParadise/Roadmap/roadmap.yml
Labels: Изменения: C#, Изменения: Локализация, Изменения: Интерфейс, Изменения: YML, Статус: Требуется одобрение, Статус: Требуется изменения, Статус: Не мержить, Приоритет: 2-Высокий, Размер: 3-Средний

#313 Tet-a-tet
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/Chat/UI/SpeechBubble.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorPopup.cs
  Content.Server/Chat/Commands/HiddenMeCommand.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Chat/ChatSelectChannel.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/chat/ui/chat-box.ftl
  Resources/Locale/ru-RU/chat/ui/chat-box.ftl
Labels: Изменения: C#, Изменения: Локализация, Изменения: Интерфейс, Статус: Требуется одобрение

#315 Небольшой ребаланс режима Secret
  Resources/Prototypes/secret_weights.yml
Labels: Изменения: YML, Статус: Требуется одобрение

#312 Водолазки для Офицер Синий Щит
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/clothing/uniforms/misc_roles.ftl
  Resources/Prototypes/Loadouts/Jobs/Heads/headOfPersonnel.yml
  Resources/Prototypes/_LostParadise/Entities/Clothing/Uniforms/misc_roles.yml
  Resources/Prototypes/_LostParadise/Loadouts/Jobs/blueshield.yml
  Resources/Textures/_LostParadise/Clothing/Uniforms/Jumpsuit/blueshield_turtleneck.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Jumpsuit/blueshield_turtleneck.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Jumpsuit/blueshield_turtleneck.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Jumpsuit/blueshield_turtleneck.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/Jumpsuit/blueshield_turtleneck.rsi/meta.json
Labels: Изменения: Локализация, Изменения: Спрайт, Изменения: YML, Статус: Требуется одобрение

#316 ХотФикс
  Resources/Locale/ru-RU/_LostParadise/roadmap/roadmap.ftl
Labels: Изменения: Локализация, Статус: Требуется одобрение

#318 Фиксы багов
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
Labels: Изменения: Локализация, Изменения: YML, Статус: Требуется одобрение

#317 M41-A Фикс
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/guns/ammunition/magazines/M41-A_mag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_lostparadise/entities/objects/weapons/guns/rifles/M41-A.ftl
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Ammunition/Magazines/M41-A_mag.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Weapons/Guns/Rifles/M41-A.yml
Labels: Изменения: Локализация, Изменения: YML, Статус: Требуется одобрение

#322 Баланс черт, добавление новой, разрешение вульпам
  Resources/Locale/en-US/_LostParadise/traits/traits.ftl
  Resources/Locale/ru-RU/_LostParadise/traits/traits.ftl
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/_LostParadise/Traits/disabilities.yml
Labels: Изменения: Локализация, Изменения: YML, Статус: Требуется одобрение

#329 height changes and requirments
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_LostParadise/Entities/Mobs/Species/Tajaran/Species/Tajaran.yml
  Resources/Prototypes/_LostParadise/Roles/Jobs/CentCom/blueshieldoficer.yml
  Resources/Prototypes/_LostParadise/Roles/Jobs/Security/SecEng.yml
  Resources/Prototypes/_LostParadise/Roles/Jobs/Security/secupilot.yml
Labels: Изменения: YML, Статус: Требуется одобрение

#334 Фикс Гита (срочный)
  .github/labeler.yml
Labels: Статус: Требуется одобрение
