Repository Lost-Paradise-Project/Lost-Paradise, pull requests merged in 2025-01, with the labels that each got.

#373 Убрал возможную причину лагов
  Resources/Prototypes/_LostParadise/Entities/Structures/Wallmounts/newyear.yml
Labels: Изменения: YML, Статус: Требуется одобрение, Размер: 5-Микро

#374 перевод вещей в спонсорские
  Resources/Textures/_LostParadise/Clothing/Uniforms/WTF/warden_suit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/WTF/warden_suit.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/WTF/warden_suit.rsi/inhand-left.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/WTF/warden_suit.rsi/inhand-right.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/WTF/warden_suit.rsi/meta.json
  Resources/Textures/_LostParadise/Clothing/Uniforms/WTF/warden_uniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/WTF/warden_uniform.rsi/icon.png
  Resources/Textures/_LostParadise/Clothing/Uniforms/WTF/warden_uniform.rsi/meta.json
Labels: Изменения: Спрайт, Изменения: YML, Статус: Требуется одобрение

#375 Hotfix
  Resources/Locale/ru-RU/chemistry/components/transformable-container-component.ftl
  Resources/Locale/ru-RU/cluwne/cluwne.ftl
  Resources/Locale/ru-RU/glue/glue.ftl
  Resources/Locale/ru-RU/lube/lube.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/magboots.ftl
Labels: Изменения: Локализация, Изменения: YML, Статус: Требуется одобрение

#376 Hotfix 2
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/_LostParadise/Entities/Objects/Tools/CombatUtility.yml
Labels: Изменения: YML, Статус: Требуется одобрение

#357 Ice box prt.3
  Resources/Maps/_LostParadise/LPPIceBox.yml
  Resources/Prototypes/_LostParadise/Maps/icebox.yml
Labels: Изменения: Карта, Изменения: YML, Статус: Требуется одобрение, Тип: Изменение

#385 Фикс спонсорки
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Job.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Profile.cs
  Content.Shared/Customization/Systems/CharacterRequirementsSystem.cs
  Resources/Locale/en-US/_LostParadise/update20.ftl
  Resources/Locale/ru-RU/_LostParadise/update20.ftl
Labels: Изменения: C#, Изменения: Локализация, Изменения: Интерфейс, Изменения: YML, Статус: Требуется одобрение

#389 Мап мап
  Resources/Prototypes/_LostParadise/Maps/Pools/LostParadiseMapPool.yml
  Resources/Prototypes/_LostParadise/Maps/asterisk.yml
  Resources/Prototypes/_LostParadise/Maps/cyberiad.yml
  Resources/Prototypes/_LostParadise/Maps/icebox.yml
  Resources/Prototypes/_LostParadise/Maps/kerberos.yml
  Resources/Prototypes/_LostParadise/Maps/submarine.yml
Labels: Изменения: YML, Статус: Требуется одобрение

#372 Another announcer
  Resources/Audio/Announcers/_ACES/alerts/blue.ogg
  Resources/Audio/Announcers/_ACES/alerts/delta.ogg
  Resources/Audio/Announcers/_ACES/alerts/epsilon.ogg
  Resources/Audio/Announcers/_ACES/alerts/gamma.ogg
  Resources/Audio/Announcers/_ACES/alerts/green.ogg
  Resources/Audio/Announcers/_ACES/alerts/red.ogg
  Resources/Audio/Announcers/_ACES/alerts/violet.ogg
  Resources/Audio/Announcers/_ACES/alerts/white.ogg
  Resources/Audio/Announcers/_ACES/alerts/yellow.ogg
  Resources/Audio/Announcers/_ACES/comms/announce.ogg
  Resources/Audio/Announcers/_ACES/comms/attention.ogg
  Resources/Audio/Announcers/_ACES/comms/command_report.ogg
  Resources/Audio/Announcers/_ACES/comms/malf.ogg
  Resources/Audio/Announcers/_ACES/comms/ninja_hacking.ogg
  Resources/Audio/Announcers/_ACES/comms/noospheric_storm.ogg
  Resources/Audio/Announcers/_ACES/comms/powersink_explosion.ogg
  Resources/Audio/Announcers/_ACES/comms/unknown_shuttle.ogg
  Resources/Audio/Announcers/_ACES/comms/war.ogg
  Resources/Audio/Announcers/_ACES/events/anomaly.ogg
  Resources/Audio/Announcers/_ACES/events/bluespace_artifact.ogg
  Resources/Audio/Announcers/_ACES/events/breaker_flip.ogg
  Resources/Audio/Announcers/_ACES/events/bureaucratic_error.ogg
  Resources/Audio/Announcers/_ACES/events/cargo-gifts-event-announcement.ogg
  Resources/Audio/Announcers/_ACES/events/carp_rift.ogg
  Resources/Audio/Announcers/_ACES/events/clerical_error.ogg
  Resources/Audio/Announcers/_ACES/events/gas_leak-complete.ogg
  Resources/Audio/Announcers/_ACES/events/gas_leak.ogg
  Resources/Audio/Announcers/_ACES/events/immovable_rod_spawn.ogg
  Resources/Audio/Announcers/_ACES/events/ion_storm.ogg
  Resources/Audio/Announcers/_ACES/events/kudzu_growth.ogg
  Resources/Audio/Announcers/_ACES/events/meteors-complete.ogg
  Resources/Audio/Announcers/_ACES/events/meteors.ogg
  Resources/Audio/Announcers/_ACES/events/migration.ogg
  Resources/Audio/Announcers/_ACES/events/mouse_migration.ogg
  Resources/Audio/Announcers/_ACES/events/noospheric_storm.ogg
  Resources/Audio/Announcers/_ACES/events/power_grid_check-complete.ogg
  Resources/Audio/Announcers/_ACES/events/power_grid_check.ogg
  Resources/Audio/Announcers/_ACES/events/random_sentience.ogg
  Resources/Audio/Announcers/_ACES/events/revenant_spawn.ogg
  Resources/Audio/Announcers/_ACES/events/solar_flare-complete.ogg
  Resources/Audio/Announcers/_ACES/events/solar_flare.ogg
  Resources/Audio/Announcers/_ACES/events/vent_clog.ogg
  Resources/Audio/Announcers/_ACES/fallback.ogg
  Resources/Audio/Announcers/_ACES/shuttle/called.ogg
  Resources/Audio/Announcers/_ACES/shuttle/docked.ogg
  Resources/Audio/Announcers/_ACES/shuttle/left.ogg
  Resources/Audio/Announcers/_ACES/shuttle/recalled.ogg
  Resources/Locale/en-US/_LostParadise/update20.ftl
  Resources/Locale/ru-RU/_LostParadise/update20.ftl
  Resources/Prototypes/Announcers/!randomAnnouncers.yml
  Resources/Prototypes/_LostParadise/Announcers/ACES.yml
  Resources/Prototypes/_LostParadise/SoundCollections/Announcers.yml
Labels: Изменения: Звуки, Изменения: Локализация, Изменения: YML, Статус: Требуется одобрение
